[2013-08-22 02:53] domenic opened #1 "Handle infinite recursion cases?"
- [x] Use existing Promises/A+ technology here to handle `Resolve(p, p)`.
- [ ] Consider detecting infinite cycles.

[2013-08-22 02:54] domenic opened #2 "Switch to memoizing the result of assimilation"
This would be what implementations do anyway, and it will be observable once we introduce thenables.

[2013-08-22 03:53] domenic opened #3 "Allow thenables"
Introduce an abstract `IsThenable` or `GetThen` or similar and use it.

[2013-08-22 03:55] domenic commented on #2
Since it's actually impossible to construct a chain of promises-for-promises right now, with only pure-promises and only `resolve`, it doesn't make sense to do this before #3, which would be the only way to introduce chains (via badly-behaved thenables).

[2013-08-22 04:02] domenic commented on #2
That is, there is currently no way to introduce a `p` such that `p.[[Following]].[[Following]]` is set.

[2013-08-22 10:04] annevk commented on #1
Why is it more important to detect cycles here than with while(1)?

[2013-08-22 15:09] domenic commented on #1
That's a fair question, and the answer may be that it's not. Fixing `Resolve(p, p)` is a clear win, as it's cheap and prevents `var p = fulfilledPromise.then(() => p)`. But full cycle detection is almost certainly more costly, and might not be a good idea.

To be clear, the scenario that cycle detection would solve would be

[code]

Cycle detection would consist of rejecting both `p1` and `p2` wit

[2013-08-25 22:59] domenic opened #4 "Update to use "derived update" specification type"
The tuples stored in `[[OutstandingThen]]`s are handled informally and their name isn't great. Make them more like [property descriptors](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-8.2.5) in the ES spec. Also, they can be used as arguments to `UpdateFromValueOrReason`.

[2013-08-25 23:01] domenic opened #5 "UpdateFromValueOrReason -> UpdateViaHandlers?"
Seems a bit clearer. Both are involved, of course. Decision will become easier after #4 I think.

[2013-08-26 03:49] domenic opened #6 "Rephrase in terms of completion values"
They are a bit more awkward than our current "if this call throws an exception," but give some extra precision.

[2013-08-26 05:57] #3 closed, assigned to nobody

[2013-08-26 15:12] domenic opened #7 "Schedule `Get(thenable, "then")` in a new microtask"
Per @erights.

[2013-08-26 15:16] domenic opened #8 "`Promise.as` instead of coercion behavior for `Promise`."
Nobody feels strongly that `Promise(x)` should coerce, and @BrendanEich at least dislikes this.

See http://esdiscuss.org/topic/killing-promise-fulfill#content-55

[2013-08-26 15:23] domenic opened #9 "Parameter to promise constructor"
[Per Promises/A+](https://github.com/promises-aplus/resolvers-spec/issues/18) (see also https://github.com/promises-aplus/resolvers-spec/issues/19) and for symmetry with `then`, the current spec does `new Promise((resolve, reject) => ...)`. This matches Q, RSVP, and WinJS and is symmetric with `then`.

The Alex Russell Way of doing promise constructors would have this be `new Promise(({ resolve, r

[2013-08-26 15:27] domenic opened #10 "Bad promise constructor arguments"
Assuming #8 is implemented and `Promise(x)` (without `new`) no longer coerces, what should the following do?
1. `Promise("5")`
2. `Promise(() => {})`
3. `new Promise("5")`

I am leaning toward "throw a `TypeError`" but an argument could be made for returning a new promise rejected with a `TypeError` instead.

[2013-08-27 05:29] #5 closed, assigned to nobody

[2013-08-27 05:29] #4 closed, assigned to nobody

[2013-08-27 07:41] #7 closed, assigned to nobody

[2013-08-27 07:48] domenic commented on #8
@erights I do not like the name very much. Perhaps we can bikeshed it here to avoid flooding es-discuss. (Sorry Brendan for tagging you in in the OP; please feel free to mute the thread.)

Consider:
- `Array.from(iterable)`: "Array from iterable"
- `Array.of(element)`: "Array of element"

vs.
- `Promise.as(thenable)`: "Promise as thenable"

In fact it seems like this is almost the opposite of what

[2013-08-27 07:49] domenic commented on #10
@erights any thoughts on this?

[2013-08-27 10:50] annevk commented on #10
Synchronously throwing here seems better as it's really just a typo.

[2013-08-27 10:51] annevk commented on #9
It's kinda sucky to change this part of the contract as this is exposed and implemented. Also, this does not scale towards monadic promises if ES7 does those?

[2013-08-27 12:34] domenic commented on #9
It does scale, as monadic promises will not be using any new constructor parameters.

It's unfortunate that implementations already are dictating spec. I had hoped it was early enough, and there was little enough web content, that changes like the ones we're making in this repository could still be made. Will we need to spec `Promise.fulfill` too?

[2013-08-27 12:50] domenic commented on #9
Also, I think there is a lot more code using Q, RSVP, WinJS, and others than using the behind-a-flag promise implementations of Firefox and Chrome.

[2013-08-27 14:33] erights commented on #8
@domenic Sigh. I see what you mean. Perhaps there's another short word we haven't thought of yet?

[2013-08-27 14:38] erights commented on #10
I agree with Anne. We avoid throws by using rejections to protect synchronous callers against data-dependent dynamic errors. These are just static bugs in the program, for which an early-as-possible error is good.

[2013-08-27 14:40] kriskowal commented on #8
I imagine we have a deliberate blind spot over `Promise.for(value)`, but we are going for `promise.catch`, right?

[2013-08-27 14:42] domenic commented on #8
We can always break out the old preposition list: http://www.englishclub.com/grammar/prepositions-list.htm

"via" seems moderately attractive.

@kriskowal That could work, but the fact that `Promise.for(promise) === promise` is a little bit weird. (In case it wasn't clear from the OP, this operation is equivalent to `IsPromise(x) ? x : Promise.resolve(x)`. `Promise.resolve` doesn't work because it

[2013-08-27 14:43] domenic commented on #10
Sounds good, will make the change tonight.

[2013-08-27 14:47] kriskowal commented on #8
"Moderately attractive" conveys my feelings on `Promise.via(thenable)` exactly.

[2013-08-27 14:48] kriskowal commented on #8
`Promise.to(eatVegetables())` reads alright.

[2013-08-27 14:56] erights commented on #8
OMG

[2013-08-27 15:33] annevk commented on #9
So @bakulf says we can change this if we do it right away. That means though that we really need to be sure about this.

In Gecko we restricted ourselves to resolve/reject so there's no relying on others.

[2013-08-27 20:44] domenic commented on #8
Current contenders: `Promise.to` and `Promise.via`. Let's see how they fare:
- `Promise.to(5)` "Promise to 5"
- `Promise.to(thenable)` "Promise to thenable"
- `Promise.to(promise)` "Promise to promise"

vs.
- `Promise.via(5)` "Promise via 5"
- `Promise.via(thenable)` "Promise via thenable"
- `Promise.via(promise)` "Promise via promise"

OK. But now let's take a page from @kriskowal's book and cons

[2013-08-27 20:47] annevk commented on #8
I think "to" works if you read it the other way around.

[2013-08-27 21:01] annevk commented on #8
"5 to Promise", "thenable to Promise", etc. Makes perfect sense.

[2013-08-27 21:02] erights commented on #8
We should consider "from" to still be a candidate. Let's try it:
- `Promise.from(5)` "Promise from 5"
- `Promise.from(thenable)` "Promise from thenable"
- `Promise.from(promise)` "Promise from promise"
- `var data = getData(); Promise.from(data).then(...)`
- `Promise.from(getData()).then(...)`
- `var request = $.ajax(...); Promise.from(request).then(...)`
- `Promise.from($.ajax(...)).then(...)`.

[2013-08-27 21:06] erights commented on #8
@annevk If we could read these backwards, we should revive "as". But we can't.

[2013-08-27 21:25] domenic commented on #8
It's a bit unfortunate that `Promise.to(x)` means more or less the same operation as `Array.from(x)`, despite "to" and "from" being linguistically opposite.

[2013-08-27 21:27] erights commented on #8
Yeah, that disqualifies it IMO.

[2013-08-27 21:28] erights commented on #8
I think I'm coming around to Promise.from :(.

[2013-08-28 10:46] annevk commented on #8
Why is Promise.of() wrong?

Also, do we need the Promise.something(promise) === promise behavior?

Cop-out and leave this to libraries? (Doesn't really seem acceptable.)

[2013-08-28 13:31] erights commented on #8
@annevk Promise.of isn't wrong, it's just not needed in the subset that also omits .flatMap. The difference is indeed the Promise.something(promise) === promise behavior, we do need it, and we should not leave it to libraries, because .then-level programmers, in a full AP2 system will use Promise.of where they should be using Promise.something. This is exactly the issue you reminded me that I'd re

[2013-08-28 13:49] annevk commented on #8
Looking through synonyms. Promise.like() maybe... Promise.from() seems fine though. We could just point out that unlike Array it does sometime return its argument. Or modify Array to do the same.

[2013-08-28 17:07] kriskowal commented on #8
I could live with `Promise.from(promise)` and live with the minor inconsistency with `Array.from(array)`. `Array.from` should make a copy because changes to the result have the observable side-effect of corresponding changes to the input. With promises, there should be no observable difference. (To that end, we will need to keep a side-table of thenables that have been coerced so we can consistent

[2013-08-28 18:02] erights commented on #8
@kriskowal I buy this as a good enough excuse for keeping Promise.from and not advocating that Array.from be changed from the current always copy behavior to the less useful conditional copy behavior. Any dissent to declaring Promise.from as the winner? If not, we should take this back to es-discuss.

[2013-08-29 06:49] domenic opened #12 "Make sure there's consensus on the name `Promise.cast`."
In #8 we settled on `Promise.cast` for the coercer. Let's keep this issue around until we're certain we have consensus.

[2013-08-29 06:49] #10 closed, assigned to nobody

[2013-08-29 06:53] domenic commented on #8
Implemented as `Promise.from`, opening #12 to track consensus on that name.

I personally think `Array.from` behaving the same would be useful for its typical use cases, for the same reason of allocation being costly. The always-create-fresh use case can be served by `[...maybeArrayMaybeNot]`, but `Array.from` would normally be used to ensure that what you get is an array before doing things to it

[2013-08-29 07:01] domenic commented on #2
As noted by @kriskowal in #8, we should also maintain a side-table of assimilated thenables so that a thenable's `then` is never triggered more than once no matter how many promises assimilate it. A WeakMap should work nicely, implementation-wise, since it holds neither keys nor values strongly.

[2013-08-29 10:25] ForbesLindesay commented on #8
I've never liked `when`.  It reads really strangely if it's not immediately followed by a `.then`

[2013-08-29 19:25] juandopazo commented on #8
`Promise(foo)`++. I'm not sure `from` makes sense if `Promise.from(promise) === promise`.

[2013-08-29 19:45] BrendanEich commented on #8
Domenic Denicola wrote:

We shouldn't go in circles. Array.from exists to support
polyfillability, which [...arrayish] does not. It must make a copy,
always, because arrays are mutable and returning the argument sometimes
but not others creates pigeon-hole problem bugs. Finally, "from" does
not connote a no-op as a preposition -- it suggests an implicit verb,
"create" or "transfer" or "reconstruct

[2013-08-29 20:27] BrendanEich commented on #8
Brendan Eich wrote:

Mark urged me to suggest a name:

Promise.cast(x)

/be

[2013-08-29 20:43] erights commented on #8
Summary of my reactions at this point:
- I think whatever we do here will be viewed as a precedent, so going with the constructor as coercer seems even more damaging to me now, since it would reinforce an existing practice into an even stronger precedent.
- .to and .when would be promise specific, and so not do not establish a pattern useful as a precedent.
- .from would establish a useful precede

[2013-08-29 20:50] kriskowal commented on #8
I can live with `cast`.

[2013-08-29 20:53] domenic commented on #8
`cast` is OK. I'd like to reiterate @kriskowal's point from earlier though, that `Promise.from(promise)` returning `promise` is more OK than `Array.from(array)` returning `array` because even if it did return a new promise, that new promise would be indistinguishable from the original except by `===`.

[2013-08-29 20:56] BrendanEich commented on #8
Domenic Denicola wrote:

I hear you on that one. We could use Promise.from and mostly get away
with it. But the connotation problem I mentioned still exists, and some
foolish consistency deduction still hurts. Neither of those problems
afflicts Promise.cast.

/be

[2013-08-29 21:46] domenic commented on #8
That's fair.

On the other hand, can we use Kris's "it doesn't matter very much" argument to make `Promise.resolve` not always return a new promise? I am not sure how I feel about that. But, it is notably what `Q.resolve` and `RSVP.resolve` already do.

[2013-08-29 22:30] erights commented on #8
@domenic I don't understand your question. I just looked at https://github.com/kriskowal/q/wiki/API-Reference and I don't see any Q.resolve. Do you mean the call behavior of Q called as a function?

[2013-08-29 22:39] domenic commented on #8
Right, we alias Q.resolve to Q; in the Q 0.8 timeframe Q was not a function and that's what we called it. We left it in Q 0.9 and haven't deprecated it officially (i.e. using it doesn't cause deprecation warnings).

[2013-08-29 22:47] erights commented on #8
@domenic Ok, with that clarified, I still don't understand the question. Could you try to restate in other words? Thanks.

[2013-08-29 23:04] domenic commented on #8
Sure.

Tab's original objection to `Promise.resolve(truePromise) === truePromise` was that the static methods should be treated as factories, and `Promise.resolve(x)` should desugar obviously to `new Promise(resolve => x)`. I find this argument compelling, until I consider that a new promise resolved to an existing promise behaves exactly the same as the original promise, as Kris pointed out, modu

[2013-08-29 23:14] erights commented on #8
Perhaps I'm not getting it because I never found that argument compelling. IIUC, you agree that

[code]

must be true. You are suggesting we consider "resolve" for that name. Is this right?

If so, I prefer .cast for two reasons:
- .cast is shorter, which makes a real difference when it competes with .of, given that .of _seems_ to do the job and their code will not break.
- Coercion is a useful co

[2013-08-29 23:15] domenic commented on #8
OK, that's fair. Dropping it :).

[2013-08-29 23:18] erights commented on #8
Ok, any objections to closing this local bikeshed with .cast and taking the issue back to es-discuss?

[2013-08-30 08:36] annevk commented on #9
Post about this to es-discuss? It would be kind of a precedent too for an API to hand out callbacks rather than class objects as far as I can tell.

[2013-08-30 08:36] annevk commented on #8
Let's do that.

[2013-08-30 08:36] #8 closed, assigned to nobody

[2013-08-30 10:13] annevk opened #13 "Define Promise.any|some|every"
I'd be fine with making the first argument an array per your then-method consistency argument.

[2013-08-30 13:30] domenic commented on #13
Oh cool, glad to hear it.

What's the difference between any and some again? Usually they mean the same thing. (E.g. C#'s [any](http://msdn.microsoft.com/en-us/library/bb534972.aspx) ~ ES's some.)

[2013-08-30 13:33] domenic commented on #9
OK, sounds good.

I hope nobody was considering handing out class objects for the `{ resolve, reject }` pair though. There's no need for that to have a prototype, constructor, and methods that require binding before you can pass them along!

[2013-08-30 13:34] annevk commented on #13
any completes as soon as any of the passed promises completes.
some completes as soon as any of the passed promises resolves, or all are rejected.
every complete as soon as all of the passed promises resolves, or any are rejected.

[2013-08-30 13:37] domenic commented on #13
I am going to reinterpret that as:
- any settles as soon as any of the passed promises settle.
- some settles as soon as any of the passed promises are fulfilled, or all are rejected.
- every settles as soon as all of the passed promises are fulfilled, or any are rejected.

[2013-08-30 13:39] annevk commented on #13
Yeah, sorry about terminology.

[2013-08-30 13:41] annevk commented on #9
Makes sense. (It's implemented as such today though...)

[2013-08-31 20:10] erights opened #14 "UpdateDerived insufficiently asynchronous"
Diagnosis and fix at

http://esdiscuss.org/topic/ap2-bugs
https://mail.mozilla.org/pipermail/es-discuss/2013-August/033043.html

seem correct to me.

[2013-08-31 20:11] erights opened #15 ""UpdateFromReason" should be "UpdateDerivedFromReason""
Reported at
http://esdiscuss.org/topic/ap2-bugs
https://mail.mozilla.org/pipermail/es-discuss/2013-August/033043.html

[2013-08-31 20:44] #15 closed, assigned to nobody

[2013-08-31 21:20] domenic commented on #9
No real objections so far. http://esdiscuss.org/topic/parameter-to-promise-constructor (also CC'ed to www-dom and public-script-coord)

[2013-08-31 21:31] domenic commented on #14
This is invalid. `CallHandler` queues a microtask, but his sample implementation of `CallHandler` does not, leading to the observed bug.

[2013-08-31 21:31] #14 closed, assigned to nobody

[2013-09-01 02:08] Nathan-Wall commented on #14
Ok, making CallHandler asynchronous does solve the issue as well.  In that case, what is the purpose of "queue a microtask" in step 2.1 in UpdateDerived? Is it still necessary?

[2013-09-01 03:19] Nathan-Wall opened #16 "CoerceThenable missing return"
I believe step 9 should be `return p` in **CoerceThenable**.

[2013-09-01 05:00] #16 closed, assigned to nobody

[2013-09-01 05:00] domenic commented on #16
Thanks!!

[2013-09-01 05:05] domenic commented on #14
It's necessary since accessing `then` could trigger user code, if `then` were a getter, and additionally we need to call `then` in a new execution context anyway. @erights can explain in more depth why it's important for user code to always execute in a fresh execution context.

[2013-09-01 05:16] domenic commented on #13
I do not care about these names very much, but in the interest of clarity, may I suggest:
- `Promise.race`: settles as soon as any of the given promises settles (in the same way as that promise).
- `Promise.any`: fulfills as soon as any of the passed promises are fulfilled, or rejects if all are rejected.
- `Promise.all`: fulfills once all of the passed promises are fulfilled, or rejects as soon a

[2013-09-02 03:07] Nathan-Wall commented on #14
Got it. Thanks!

[2013-09-02 20:07] annevk commented on #13
I guess if we change the signature back to array reusing all is fine again.

[2013-09-02 20:10] annevk commented on #9
Patch for Gecko to just change this bit in our implementation ahead of everything else: https://bugzilla.mozilla.org/show_bug.cgi?id=911213 (It's important to settle on this even quicker as this is a breaking API change for us.)

[2013-09-02 20:27] domenic commented on #13
I forgot that `Array.prototype` actually had an `every`. In light of that my new recommendation is either `race`/`some`/`every` or `race`/`any`/`all`. The former tries to mimic `Array.prototype` names where possible whereas the latter divorces from those names entirely.

My main concern is that using both "some" and "any" to mean different things is too confusing, and I think "race" is a pretty go

[2013-09-02 21:29] Nathan-Wall commented on #13
The following are the functions and signatures I've used in the past.  They're possibly over-abstract b/c they support use cases which are hardly ever used, but the extra arguments are in all cases optional:

`all(promises, state='fulfilled')` Resolves when all promises reach the specified state (fulfilled by default but could be  "rejected" or "resolved" (meaning either state)).  Fails as soon as

[2013-09-02 22:11] #2 closed, assigned to nobody

[2013-09-02 22:49] domenic commented on #2
OK, this turned out to be easier than I imagined. I went down a few dead ends, trying to memoize by re-setting `.[[Value]]`s to be whatever ended up at the end of the thenable chain, but that didn't even work for certain cases, as some tests I wrote showed. You end up needing a weak map anyway, and it turns out just introducing that in the right place solves all problems right away.

Let me know w

[2013-09-03 02:14] domenic commented on #13
Unrelated to naming: I think I'm going to make these accept any iterable, but return a promise for an array. Notably, I don't see any reason to also allow non-iterable array-likes (e.g. `{ length: 2, 0: "item 0" }`).

[2013-09-03 03:42] domenic commented on #13
What should "settles as soon as any of the given promises settles" and "fulfills as soon as any of the passed promises are fulfilled, or rejects if all are rejected" do when given an empty iterable? I would lean toward fulfilling with `undefined`, but returning a forever-pending promise is arguably more natural. Notably @erights's concurrency strawman's `Q.race` returns a forever-pending promise.

[2013-09-03 04:16] erights commented on #13
I recommend only two:

Promise.all -- fulfills with the array once all of the passed promises are fulfilled, or rejects with the first reason to be noticed as soon as any are rejected. For the empty array, all the passed promises are indeed fulfilled, so fulfills with the empty array.

Promise.race -- settles as soon as any of the given promises settles (in the same way as that promise). For the e

[2013-09-03 04:17] erights opened #17 "Should we include Promise.async ?"
What about Promise.async http://wiki.ecmascript.org/doku.php?id=strawman:async_functions#reference_implementation ? Given the feedback we've been hearing about how wonderful async functions are in C# (and F#, etc), and given how quickly generators are coming, I think the need for this is more pressing.

[2013-09-03 04:18] erights commented on #17
Note that the implementation at that link is out of date -- it is from the days of StopIteration. It needs to be updated for modern ES6 generators.

[2013-09-03 04:20] domenic commented on #17
I am tempted, but on the other hand, it might end up being just vestigial in an ES7 world where promises get dedicated syntax of some sort. (In fact, it might be considered bad practice in such a world.)

[2013-09-03 04:35] domenic opened #18 "Promise.prototype.finally"
I am not sure why this wasn't in the original DOM spec, nor in @erights's concurrency strawman, but it's damn useful and not trivial to implement yourself.

[code]

Notably, like JS `finally` clause:
- no value or reason is passed in to the finally code (i.e. to `callback`).
- Does not affect the result, i.e. the resulting promise is still fulfilled with `value` or rejected with `reason`, just lik

[2013-09-03 10:08] erights commented on #18
Absent from concurrency strawman, due only to oversight. I don't have experience with it. Sounds plausible. Can you point at some examples that illustrate well how it is useful?

[2013-09-03 12:33] domenic commented on #18
Here is one quick example, where we use it to clean up event listeners: https://gist.github.com/domenic/6419679

[2013-09-03 13:20] erights commented on #18
Nice.
On Sep 3, 2013 5:33 AM, "Domenic Denicola" notifications@github.com wrote:

[2013-09-03 13:22] annevk commented on #18
If we think we can get consensus on this, seems fine, otherwise, please lets not add new features that will delay the whole thing longer.

[2013-09-03 13:23] annevk commented on #17
Given that, I suggest we hold off on this until at least the basic design is deployed. We can then evaluate this for an upgrade to that.

[2013-09-03 13:26] annevk commented on #13
I'm fine with @erights subset. Again, less likely means we can ship more short term.

[2013-09-03 13:55] juandopazo commented on #13
I came here to say that.

\o/ To everything in this thread.

[2013-09-03 14:49] domenic commented on #17
Let's close this for now then.

[2013-09-03 14:49] #17 closed, assigned to nobody

[2013-09-03 14:50] domenic commented on #18
Thanks for reining us in, @annevk :). My new position then is to default to not speccing it unless there's a sudden upswell of support due to your email this morning. We can always make it a high-priority addition later.

I'll close this in a day or so if said upswell does not appear.

[2013-09-03 14:51] annevk commented on #12
Done: http://esdiscuss.org/topic/promises-final-steps

[2013-09-03 14:51] #12 closed, assigned to nobody

[2013-09-03 15:33] tabatkins commented on #13
Yup, fine with these two for right now.  I really like the `race` name.  I'd prefer the `some`/`every` naming over `any`/`all` solely for the existing Array precedent.

[2013-09-03 15:47] mhofman commented on #18
I'd like to voice support for finally. I've had to implement it myself with the current version of DOM Promises and having it built-in would allow us to remove that piece of code which is basically there to restore a functionality that exists in synchronous operations.

[2013-09-04 10:29] medikoo opened #19 "Promise.prototype.done"
With current design, the only way to process resolved value and be sure that unhandled exceptions are exposed, is via following

[code]

Which is poor solution for many reasons:
- Affects performance:
  - Creates promise objects we don't need
  - forces processing to further tick
- Unintuitive
- Verbose

In many promise implementations, there's already `promise.done`, which doesn't create any new

[2013-09-04 11:48] annevk commented on #19
The outcome of the previous TC39 discussion was to get rid of done() for now. It might resurface one way or another, but adding it back before revisiting that discussion seems bad, and we can easily revisit that after we ship the basic design.

[2013-09-04 11:51] medikoo commented on #19
@annevk Thanks for clarification. I just wanted to point that without that, spec (even in most basic form) shouldn't be perceived as complete.

[2013-09-04 12:44] domenic commented on #19
`done`'s job will be done by integrating unhandled rejection tracking functionality into dev tools. Most TC39ers, from what I understand, as well as myself, perceive that as enough for the spec to be complete.

Furthermore, there is no need for implementations to create promise objects only to have them immediately GCed. Unlike user-space promise implementations, that is easily detectable; such `t

[2013-09-04 13:01] medikoo commented on #19
_Monitoring_ solution significantly raises complexity of implementation, and brings many other issues. I haven't seen it yet either implemented or specified in a way that would really solve above issue.

It's really hard to understand for me, why you advocate after something that is difficult to implement, not logical and not natural for JavaScript, when real solution can be so simple, and as far

[2013-09-04 13:03] annevk commented on #19
Implementations can report unhandled exceptions during GC to the error console.

[2013-09-04 13:20] medikoo commented on #19
@annevk You mean that when promise would be GC'ed, implementation would check whether reject value was retrieved and if not, it would report to reject value to error console (?)

What if implementation would completely implement this spec, but won't provide this functionality?
I hope you understand that such implementation would turn out as hardly usable.

...and again it's not error handling that

[2013-09-04 13:35] annevk commented on #19
If implementations do not provide adequate debugging, they'll be used less. This is the same for any number of features on the platform. And simple is not necessarily good here, as people will use .then() and forget about things.

[2013-09-04 14:06] medikoo commented on #19
@annevk only with `done` programmer can have full control over error handling, and promise libraries should provide that.

Argument that having both `then` and `done` is too much for programmer's head is quite controversial to me. Both methods serve two different use cases, and both are equally important.
Also looking at other API examples you can see it's not true. e.g. programmers somehow manage

[2013-09-04 19:05] slightlyoff commented on #9
Why are we breaking this? Why change it at all? We have 2 implementations that are compatible under the old mechanism and no outside reason to modify it.

[2013-09-04 19:06] slightlyoff commented on #1
I don't see why this needs fixing at all. Devtools can detect it without any spec changes.

[2013-09-04 19:08] slightlyoff commented on #13
Please. Stop. We have many names for these methods. `some` and `every` were picked for Array-likeness and because nothing else was un-punny. The only thing that matters about any of this is that the names are _STABLE_. That we are contemplating changing them again is just O_o.

[2013-09-04 19:39] domenic commented on #1
That's a great point. Closing.

[2013-09-04 19:39] #1 closed, assigned to nobody

[2013-09-04 19:39] domenic commented on #18
Closing for now. I would like this a lot but getting something done is more important.

[2013-09-04 19:39] #18 closed, assigned to nobody

[2013-09-04 20:45] annevk commented on #9
Getting rid of a useless non-constructable object seems worth it. Gecko is not shipping yet, we have a patch for this change, and so far it seems this design will get us consensus.

[2013-09-04 20:47] annevk commented on #13
We are changing the signature per an argument Domenic made a while back so changing the names is reasonable and probably more compatible.

I agree though that we have to stop changing, but I think having this last round of minor changes will get us there with more agreement and better design than if we push through the older material.

[2013-09-04 20:53] erights commented on #13
Which names are changes and which are stable choices, depends, of course, on where you start your story.

In any case, I agree with @annevk .

[2013-09-04 20:58] erights commented on #6
Extra precision how?

[2013-09-04 21:40] erights opened #20 "Should we kill Promise.resolve?"
Given Promise.cast, no useful functionality is served by the existence of Promise.resolve. It is not needed.

[2013-09-04 22:25] annevk commented on #20
We could make it an alias for cast. @dherman argued to me some months ago that having an alias is not so bad and you expect Promise.resolve() to be there given Promise.reject().

[2013-09-04 22:26] annevk commented on #20
I guess the argument for not making it an alias is that we'd want to expose the Resolve() primitive. (Don't feel strongly about that.)

[2013-09-04 22:39] erights commented on #20
In the interests of finding an approximately-minimal subset, consisting of the stuff we need now, I suggest we omit Promise.resolve for now. Again, we can always add it back in later.

That said, I think omitting it is the right long term decision as well. It adds no useful functionality while still paying the price of more API surface.

[2013-09-04 23:11] annevk commented on #20
Yeah, seems fine. (Though one could say the same about thenable support I suppose...)

[2013-09-04 23:21] erights commented on #20
@annevk It would be great if we could. But the subset has to be a compatible subset of what we hope to grow into. Without thenable assimilation in early, it would be incompatible to add it in later.

[2013-09-05 03:46] domenic commented on #20
I don't like this. `Promise.resolve` is very nice for symmetry with `Promise.reject`. Consider writing test code that creates stubs:

[code]

And in theory, always creating a new promise could be useful, e.g. if you are trying to create distinct keys in an identity map. (I don't really have a practical example of this.)

[2013-09-05 04:00] spankyj commented on #13
Please allow these to accept/return objects as well as arrays. In WinJS land we have found it endlessly useful to be able to name the various incoming asynchronous values you are waiting on and then refer to them by name in the next portion of your operation.

For instance, only today I was writing a demo app for a discussion that went and retrieved stock data and wrote code that went something li

[2013-09-05 04:05] domenic commented on #13
@spankyj most other promise libraries have avoided such extra because of the various edge cases involved. For example, what do you propose to do for the following cases:

[code]

[2013-09-05 04:18] spankyj commented on #13
Well...

Our join (all/every being discussed here) took the easy way out of simply defining itself in terms of Object.keys and using array-ness simply for determining the form of the result. We reasoned that the shallow nature of the query was acceptable due to the fact that the instances involved were likely to (almost?) always be transient in nature and really represented code structure more oft

[2013-09-05 04:45] #13 closed, assigned to nobody

[2013-09-05 04:48] domenic commented on #6
Yeah, maybe not that much extra precision.

Notably, in doing #13, I decided to cave and use the phrasing "For each value `nextValue` of `iterable`" for iteration, instead of using the ES spec's `IteratorNext`/`IteratorComplete`/`IteratorValue` and completion value low-level stuff.

I think I've reached an uneasy medium between direct ES spec formalism and something more loose like the DOM or code

[2013-09-05 04:56] domenic opened #21 "Add shorthand "prose hooks" for performing various operations"
People seem confused, and want to know how they can do `Promise.reject` or `Promise.all` in their specs. It's pretty straightforward; you say:

But we may want to provide some easy phrases that are shorthand for this longhand. Here's what I can think of:
- a promise resolved with x (e.g. "return a promise resolved with x," "let p be a promise resolved with x")
- a promise rejected with r
- cast x

[2013-09-05 05:15] tabatkins commented on #20
In my experience writing objects with both "create" and "cast" methods, both have proven useful in different circumstances.

It would be annoying if, in order to create a fresh fulfilled promise, I needed to go through the Promise constructor, while I could use the static operation if I was rejecting one.

[2013-09-05 08:06] annevk commented on #21
- Let p be the first of p1, p2, p3
- Let p be all of p1, p2, p3

[2013-09-05 08:17] annevk commented on #9
Seems this is in the specification now.

[2013-09-05 08:17] #9 closed, assigned to nobody

[2013-09-05 11:14] annevk commented on #6
We should then also use things like FunctionCreate to properly define the scope of those functions and such rather than ECMAScript function... I guess for now this is fine.

[2013-09-05 12:46] erights commented on #20
@tabatkins Hi Tab, could you explain an example where you found it useful to make a fresh promise that was behaviorally identical to a promise you already have?

[2013-09-05 12:50] erights commented on #20
@domenic Given the purpose of the subset we're trying to define here, "in theory ... could be useful" sounds to me like a reason not to include something. An actual example where it is useful might better make the case.

[2013-09-05 15:26] ghost commented on #20
Symmetry is a good thing even in minimalism.

[2013-09-05 15:44] tabatkins commented on #20
Actually, yes, I can give a concrete example, since I just wrote some spec text that needs the "resolve" semantics yesterday.

Check out http://dev.w3.org/csswg/css-font-load-events/#font-face-ready.  I want `fontface.ready()` to always return a fresh Promise, as that's what you expect from methods like this (and `FontFaceSet#ready()` also returns a fresh promise each time).

The easiest way to ha

[2013-09-05 15:51] erights commented on #20
@tabatkins I'm trying to understand this example. Why would you not do

[code]

?

Or, if (as the name suggests) you know that this._internalReadyPromise is a genuine promise, why would you not do

[code]

?

It seems much more straightforward. What functionality is lost?

[2013-09-05 15:52] erights commented on #20
Sorry, I hit the wrong button. I had not meant to close the issue.

[2013-09-05 15:54] domenic commented on #20
@tabatkins Thanks for the example; I hope we can flesh it out into something reasonable, since I want `Promise.resolve` for symmetry reasons alone. But can you explain why your API is designed as is? Why not just a `ready` property that always returns the same promise?

[2013-09-05 16:13] tabatkins commented on #20
Mostly for symmetry for `FontFaceSet#ready()`, which _does_ need to return a fresh promise each time (or else do much complicated things to keep track of state, which would involve _sometimes_ returning the same promise and sometimes a different one, depending on when you asked).

Since one is a method, it's more consistent to make them both methods, and methods by convention return new objects ea

[2013-09-05 16:16] tabatkins commented on #20
But also, for serious, "minimal" doesn't let you ignore "consistent" as a criteria.  Having both static methods is good.  Having neither is less good, but acceptable (but I wouldn't want to change to that now).  Having one but not the other is crazy-times.

[2013-09-05 16:58] johnjbarton opened #22 "Promise(resolver) vs .then(resolve, reject)"
As a developer I find the disconnect between the constructor and .then() functions puzzling and annoying.

The constructor take an object as an argument with properties .resolve and .reject; then() takes two arguments called resolve and reject.

Calling the current constructor with a syntax consistent with then() results in a very puzzling runtime error message deep in the Promise library.  Defini

[2013-09-05 17:00] erights commented on #20
I do not care enough about this issue to continue objecting. All the strong feelings seem to be for keeping Promise.resolve, so I will not stand in the way of declaring this as the consensus. For the record, I still think this is a bad idea, but only mildly so.

[2013-09-05 17:19] domenic commented on #22
This repo has always used the two-argument form, so I am not sure what the issue is? https://github.com/domenic/promises-unwrapping#promiseresolver step 9 in particular.

Older DOM promises had a `PromiseResolver` object, but this repo has always had `(resolve, reject)`.

[2013-09-05 17:36] johnjbarton commented on #22
Oh, sorry. I was using https://github.com/slightlyoff/Promises, I thought it matched this spec.

[2013-09-05 17:36] #22 closed, assigned to nobody

[2013-09-06 01:56] ghost opened #23 "Converting Exceptions to Rejections in Initializer"
Apologies if I'm retreading old ground, but under `Promise(resolver)`, step 10 indicates that exceptions thrown by the initializer function must be converted to a rejection of the  new promise.  This seems surprising to me:

[code]

The initializer executes synchronously, and really just provides a closure around the resolve and reject parameters.  It's more akin to a block than a promise transfor

[2013-09-06 02:17] #20 closed, assigned to nobody

[2013-09-06 10:47] nyuichi commented on #13
The door for further discussion on changeng the names "race" and "all" is already closed?

[2013-09-06 10:49] annevk commented on #13
@wasabiz, unless you have a particular compelling argument for something else, yes. These are the names championed by popular libraries. The Array analogy doesn't hold on closer inspection, and race and all are nice and short, and pretty descriptive.

[2013-09-06 10:53] annevk commented on #23
Making throwing reject the promise would be nicely consistent with new platform methods that return a promise and could synchronously throw for some input, but would instead reject the promise, so that the whole programming paradigm remains asynchronous.

[2013-09-06 10:58] nyuichi commented on #13
I agree almost all the opinions here but one thing I feel some uncomfortable is that their parts of speech are different from each other: "race" is a verb OTOH "all" is an adjective. I prefer some other pairs such as `any`/`all` or `race`/`join`.

[2013-09-06 11:00] annevk commented on #13
That is a good point, thanks! I somewhat doubt we'll be able to keep picking consistent words going forward though. Hmm.

[2013-09-06 11:53] nyuichi commented on #13
"race" appears to have been somehow popular in this thread so it may be a better choice to pick verbs as the method names. That's why I prefer `race`/`join` over `any`/`all`. (In addition, taking care of the compatibility, there are a large number of verbs that can be used as names but this is not the case for adjs, I've ever seen only a few limited adjectives (any, some, all, etc) are adopted for

[2013-09-06 12:26] ghost commented on #23
Can you provide an example of such a new platform method?

[2013-09-06 12:49] domenic commented on #23
I do think it's a bit weird that we capture user-thrown exceptions but let argument validation exceptions to leak out, per #10.

I believe one motivation for capturing user-thrown exceptions is the almost-equivalence between

[code]

and

[code]

[2013-09-06 13:21] erights commented on #13
History aside, I can see the case for this meaning of join. But we already have a long history of using "all" for this meaning and some history of using "join" for eventual equality:

http://wiki.ecmascript.org/doku.php?id=strawman:concurrency#q.join
http://research.google.com/pubs/pub40673.html
http://erights.org/talks/thesis/markm-thesis.pdf section 19.5
And IIUC the latest version of Q, though

[2013-09-06 14:00] domenic commented on #13
Just to add to the anecdotes: in my experience I have never found a need for `race` or (Mark's) `join`. (Although I understand he has found some use for both in his research papers.) `all`, and to a lesser extent [`allSettled`](https://github.com/kriskowal/q/wiki/API-Reference#promiseallsettled), are the only combinators I have ever found occasion to use.

As such, the only thing I care about rega

[2013-09-06 14:18] annevk commented on #23
E.g. createImageBitmap() in HTML returns a promise. If the first argument is not of the correct type, the promise should be rejected and no exception should be thrown, I think. @domenic at least argued for that and it makes sense to me.

[2013-09-06 14:23] domenic commented on #23
Yes, for APIs like `createImageBitmap()` that's definitely the right choice, otherwise you have to add not only asynchronous error handling code but a `try`-`catch` as well.

[2013-09-06 14:26] nyuichi commented on #13
Thank you guys for the explanation. Two questions:
1. If you think there is no need for 'race' at all, why is 'race' introduced at this time? (I was thinking this draft is a kind of minimalistic one.)
2. I don't see any reason of the misleading 'any' and 'some', could you tell me? (Only the biggest one is ok...)

[2013-09-06 14:38] domenic commented on #13
That's just my experience. The original DOM promises spec included it (under the confusing name `any`), and Mark's concurrency strawman includes it (under `race`), so we're including it for now.

For `some`, the problem is that the `Array.prototype` analogy does not hold up. There is no callback predicate function, and truthiness vs. falsiness is not a good analogy to fulfillment vs. rejection. `A

[2013-09-06 15:08] spankyj commented on #13
In the case of a tie I assume that race devolves into ordinally-first? For example, if the input promises are already settled?

[2013-09-06 15:12] domenic commented on #13
Yes.

[2013-09-06 15:23] ghost commented on #23
So if I understand correctly, the underlying principle here is: **functions which return promises should never throw**.  I _think_ I can buy that, with the caveat that this rule should be consistently applied (across HTML, ES standard library, etc.).

But should the Promise constructor obey this rule?  I need to think about that some more.

[2013-09-06 15:27] annevk commented on #23
Yeah, for the swath of platform APIs this is easy to enforce through IDL. ES standard library through good review I suppose. (Which all APIs should receive, but not everyone knows about everything...)

And new Promise does return a promise :-)

[2013-09-06 16:01] annevk commented on #19
Per http://lists.w3.org/Archives/Public/public-script-coord/2013JulSep/0571.html we should reconsider this.

[2013-09-06 16:03] domenic commented on #19
Might be time for @wycats to step in, as he's one of the most prominent anti-`done` people.

[2013-09-06 18:59] tabatkins commented on #21
"be the first of" is extremely ambiguous in English - it sounds like it's just referring to p1 in a stupid way.  I prefer Domenic's wording.

Same with "let p be all of ..." - sounds like it's just collecting them into a list or something.  "waiting for all" it a little long, but it's clear and easy to remember, so I'm fine with it.

[2013-09-06 19:22] wycats commented on #19
I don't feel like arguing with BE. I strongly believe that this is a scenario solving mistake that we are hastily making as promises have gained popularity.

I have come to believe that the fact that done is needed at all is a fatal flaw in the current specification. Swallowing honest-to-god exceptions (TypeError, ReferenceError) as though they were promise rejections was just a mistake.

At minim

[2013-09-06 21:06] mhofman commented on #19
I've been reading and thinking a lot about this error / rejection handling issue in recent days and I've become convinced that the answer is in keeping Promise's semantics simple so that it mirrors synchronous calls.

In that sense, `then` is used to execute another operation after the previous one completes and `catch` is used to handle an operation failing. For the same reason, I would also like

[2013-09-06 21:12] domenic commented on #19
I agree with everything @mhofman says, with the caveat that I am not sure what the exact solution would be for consoles (i.e. non-interactive debuggers). I would like a solution that does not affect the authoring-time experience, though.

[2013-09-06 21:16] wycats commented on #19
The `try/catch` that wraps the success and failure handlers is catching errors that by definition were triggered by consumer code.

[2013-09-06 21:26] annevk commented on #19
@erights, @BrendanEich, way in maybe? Still feels like something we can address later.

[2013-09-06 21:38] mhofman commented on #19
Yes, those errors are triggered by JavaScript code, but they don't automatically originate in the code written by the developer (consumer of the promise). My point was that a developer might want to handle such errors himself.

Regarding console type environments, couldn't the unhandled rejection be considered as a failure? I'm not sure of the consequences but for example right now an error in a s

[2013-09-06 21:41] wycats commented on #19
@mhofman yep. Bottom line, many these issues are best handled by debugging environments, but as promises have quickly become more popular, and debuggers haven't caught up, people are trying to slam in the `.done()` solution to PATCH IT NOW.

I'm working on the Ember Promises debugger (for the Ember Inspector) and have talked with Dave Camp a bunch about plans for the Mozilla debugger, and making A

[2013-09-07 01:11] #21 closed, assigned to nobody

[2013-09-07 01:11] domenic commented on #21
Added a guide with these plus some guidance and examples. Could probably use more examples; pull requests welcome in that department.

[2013-09-07 01:26] tabatkins opened #24 "Why shouldn't promise-returning functions throw?"
The spec-writing guide says that promise-returning functions should never throw; instead, they should just reject the returned promise with the relevant error.

It even gives a specific example of argument-parsing errors.  Why is this?  In existing callback functions, argument-parsing is usually an immediate thrown error, rather than calling the errback.  Some types of argument-parsing errors aren

[2013-09-07 01:33] domenic commented on #24
It forces duplicate error handling logic to both wrap a function in `try` `catch` to catch one type of exception, and use the rejection handler to catch other types of exceptions. This is not a good API pattern. Mixed sync-async behavior releases Zalgo upon your code.

[2013-09-07 01:36] domenic commented on #24
Yes, WebIDL definitely needs revision to accomodate promises into its overload resolution algorithm.

[2013-09-07 01:37] tabatkins commented on #24
Yeah, but only if you're actually trying to catch argument-parsing errors.  How often do you defensively code against accidentally passing bad arguments to a function?

[2013-09-07 01:38] domenic commented on #24
It's not about defensive coding, it's about handling errors.

Fundamentally, promises are based around a uniform error-handling paradigm. Breaking from that surprises consumers of promise-using functions.

[2013-09-07 01:51] tabatkins commented on #24
I get the arguments for uniformity.  I'm not yet convinced that it's a useful uniformity for this specific class of error.

I know the distinction between "compile-time" and "run-time" errors is arbitrary and changes with each language (and for JS doesn't have much meaning at all), but there's an underlying rough separation of errors into "logic" errors and "you fucked up while writing this" error

[2013-09-07 01:59] Nathan-Wall commented on #19
As someone who spent a long time thinking throw -> reject was a mistake in promise design, I have done a 180 fairly recently and wholeheartedly support the no-`done`-patch sentiments in this thread.  There was a time when browsers didn't have good debuggers for _regular errors_; that's just where we happen to be right now with promises.  Adding `done` to the language just so that you can see certa

[2013-09-07 02:00] domenic commented on #24
This is the exact same argument that people have made for not allowing `SyntaxError`s or `ReferenceError`s or similar to be transformed into rejections when you throw inside a promise handler. We are retreading old ground, and like before, in JavaScript there is no distinction; all exceptions are the same. The only distinction that really matters is _early errors_ (compile time, while-parsing-the-

[2013-09-07 03:02] tabatkins commented on #24
Cool, that's convincing.

(So if we did have type annotations in JS that produced compile-time errors, it would be fine for async functions to still throw syntax errors for violating the type contracts, right?)

[2013-09-07 03:02] #24 closed, assigned to nobody

[2013-09-07 03:09] nyuichi commented on #13
So we have a history of using `any` to some extent as well, right? Mark quoted the histories of `all` and `race` to deal with the choice and (forgetting the discussion if the `any`  is confusing or not) if you're ignoring the histroy of  `any`, it does not make sense.

Why not? That's true that adopting the name `any` we have to determine the meaning to be a straight counterpart to `all`, but bein

[2013-09-07 03:35] domenic commented on #24
Yeah, definitely, in the same way that `var 5;` throws a syntax error at compile time.

[2013-09-07 03:37] domenic commented on #13
This name never saw use outside of spec land, so I'm not sure I'd call it a "history" as much as a "misstep."

No, it definitely isn't.

That's not what rejection means; it's an asynchronous exception. Your mental model is confusing your terminology.

[2013-09-07 03:50] nyuichi commented on #13
Could you tell me the reason?

But an _exception_. Exceptions are not of normal state.

[2013-09-07 03:52] domenic commented on #13
Because having it only work in a similar way to `all` half the time would be unacceptably confusing. Also, since all is "for all," having any not be "there exists" would be just bizarre.

[2013-09-07 10:50] ForbesLindesay commented on #19
I don't want `.done` for debugging purposes (that's a useful side effect).  I want it for two reasons:
1. It lets me be explicit about what I want to happen (just like I still use `.forEach` whenever I don't want to make use of the result I'd get via `.map`.
2. It is an **extremely** useful tool for explaining `.then`.  I just gave a talk (2 days ago) on promises and described `.done` first, and t

[2013-09-08 02:04] ghost commented on #19
@Nathan-Wall Your analogy to primordial JS debugging breaks down when you realize that the root problem is that under the current paradigm, there is no possible way to distinguish an "unhandled" rejection from a program error.  "Monitoring" tools attempt to sidestep this difficulty by placing the burden of distinction upon the programmer at the time of debugging.  But programming languages should

[2013-09-08 08:51] annevk commented on #19
A lot of those seem false. We ship a lot of APIs that for debugging require non built-in features. E.g. lots of network APIs don't expose sufficient information for easy debugging (due to not wanting to reveal that information).

[2013-09-08 12:13] medikoo commented on #19
@mhofman It's not like that. The problem is that you treat `done` as a supplement of `then` which is logically wrong **. `then` is a mapping function that developer should choose over `done` and not otherwise.**
`done` should be treated as first choice function. It's the fundamental, straightforward way to access resolved value. It is `then` that someone may forgot about not `done`.

So, current s

[2013-09-08 16:04] domenic commented on #19
@medikoo, I get that you have different ideas for how you would design and use a promise API. You fail to recognize that not everyone wants to use your library's paradigm.

[2013-09-08 18:07] medikoo commented on #19
@domenic this has nothing to do with my library, it's implementation of `done` just follows others. It'll be also great if you'd have more open and constructive approach, your negative attitude doesn't help.

[2013-09-09 01:22] domenic commented on #23
@annevk @erights I think @zenparsing's essential point is that we are being inconsistent, saying that it's OK for `new Promise` to throw for argument/context errors, but not for other functions which create promises. Do either of you feel like it's worth revisiting that allowance, perhaps taking into account my arguments over at https://github.com/domenic/promises-unwrapping/issues/24#issuecomment

[2013-09-09 09:29] annevk commented on #23
I thought only Promise() threw, not new Promise()?

So I guess in particular this is about new Promise(2) and such as 2 is not callable?

I think the consistency is that callbacks should be treated identically, but that fundamental misuse of the constructor can throw early. That's a clear typo, the callback throwing could have any number of reasons.

[2013-09-09 12:20] domenic commented on #23
Right, that's it.

Hmm OK, that has me more convinced. In particular, `new Promise(resolve => resolve(document.creatElement("div")))` is a clear typo, which made me feel like it was analogous, but then again `new Promise(() => throw new Error("I am purposefully creating a rejected promise"))` or `new Promise(resolve => resolve(callAFunctionWhichMightThrowAnError()))` are definitely not typos. So "

[2013-09-09 13:21] ghost commented on #23
I would think that there are many APIs that one could argue should throw early because of "clear typos" (e.g. parameter type validation).

I haven't really formed an opinion on this yet...

[2013-09-09 13:41] ghost commented on #19
@annevk True, to a certain extent.  The difference, to me, is that when debugging this:

[code]

I need _immediate_ feedback.  I don't want to write boilerplate (i.e. `done`, or `setTimeout`) and I certainly don't want to tab over to a promise monitoring panel to figure out why nothing is happening.  This is a program error.  The programming environment should be able to figure out when I've made

[2013-09-09 16:12] annevk commented on #19
The error there is the typo in someFunction, right?

I don't understand how by punting on done we assure its victory. What strategy other than the implementation layer and something akin to done are there?

[2013-09-09 16:12] mhofman commented on #19
@zenparsing Unfortunately the behavior you're asking for is not possible with JavaScript. Consider a similar example without the use of promises:

[code]

The ReferenceError will only be thrown when the function passed to `setTimeout` is executed, not when `setTimeout` is called. Today, to figure out there is a typo here, you need the function to be executed and then look at your console. Pormise

[2013-09-09 17:14] ForbesLindesay commented on #19
1. `forEach` is the basic way of getting values out of an array, not `map`
2. `done` should be the basic way of getting a value out of a promise, not `then`

I don't see how you can dispute the second statement without disputing the first.  Does anyone dispute the first statement?  Does anyone see a reason to dispute the second without disputing the first?

[2013-09-09 17:15] ForbesLindesay commented on #19
That doesn't mean that `map` won't be more popular than `forEach` or that `then` won't be more popular than `done`, but that wouldn't be an argument not to have `done`, unless you also think we shouldn't have had `forEach`.

[2013-09-09 17:35] domenic commented on #19
I don't think the promise <-> array analogy holds up very well under scrutiny.

[2013-09-09 17:40] medikoo commented on #19
@domenic can you be more constructive, do you have any valid arguments?

[2013-09-09 18:03] annevk commented on #19
It's not about whether or not to return a new promise. It's about reporting errors. The forEach/map analogy has nothing on that.

[2013-09-09 18:36] ghost commented on #19
@mhofman I meant the same ReferenceError that `setTimeout` would report on the console.  There's no reason why I should have to add boilerplate (`done`) or tab between two different views (the console and the promise monitor) in order to see that error.  It is a programming error and should be presented to the programmer in the same way as other programming errors.

[2013-09-09 18:38] medikoo commented on #19
@annevk
It's not only about that, thing that `promise.then` creates another promise that we totally don't need, affects for performance and is not clean. Also the reason of proposed error reporting is mapping feature of `then`, this comes out of it.

You want us to deal with all those side effects of `map` on each value access. I really wouldn't like to be forced to use`setTimeout` with native API

[2013-09-09 18:42] domenic commented on #19
`promise.then` will not create a new promise in any reasonable optimizing JIT, unless its return value is actually consumed.

[2013-09-09 18:50] medikoo commented on #19
@domenic it's weird thing to provide imperfect solution and fix its issues that way. It's another mess to handle for compiler. Also mind that such thing can't be implemented in plain JavaScript (no polyfill possible).

[2013-09-09 19:04] ghost commented on #19
@annevk I'll try to explain...

First, let's forget about the browser and just consider the server.  The appropriate thing for a console (Node) application to do when it encounters an unhandled error is to crash the program, reporting some error information.  You don't fire up a monitor.

So the only way that the current promises spec will work in that environment is to include boilerplate (`done`

[2013-09-10 11:23] domenic opened #25 "Should we use the new Invoke trap?"
http://esdiscuss.org/topic/invoke-and-implicit-method-calls

[2013-09-10 12:22] annevk commented on #25
When I brought this up with Allen, he was okay with not everything mapping to [[Invoke]]. Seemed weird to me to have a non-primitive as trap.

[2013-09-10 12:57] annevk commented on #19
Let's make that more concrete.

The suggestion would be that in PropagateToDerived(p) if p.[[Derived]] is empty and promise.[[Reason]] is set, you'd propagate it out of the promise? (E.g. window.onerror, console, ...)

[2013-09-10 13:02] wycats commented on #19
@annevk I implement a similar strategy to this in RSVP (via `RSVP.configure('onerror')`). Unfortunately, it makes for a lot of noise in cases where people are intentionally trying to attach error handlers later.

I consider it worth the trouble for debugging, which is why I offer the option. I've had good luck printing error messages to the console in my implementations of the RSVP `onerror` hook

[2013-09-10 14:33] annevk commented on #25
I guess most traps are non-primitives in a way.

[2013-09-10 14:37] annevk commented on #19
Okay, so @wycats' comment indicates that even if we did want that, it'd have to be opt-in, and thus could be added at a later stage. So we have three strategies: 1) done() 2) GC/engine magic 3) a flip to twiddle PropagateToDerived handling. All three can be deployed after-the-fact. Unless there's anything else, I recommend we close this.

[2013-09-10 16:07] medikoo commented on #19
As @wycats noted it is imperfect solution, and I think it shouldn't be taken into account

If promise implementation would implement in full given API but would not provide any of above, would you consider it as complete and fine to use?

Other important thing we need to realize, if some implementations will do 1), and others will do 2) we will deal with promises implementations that would conform

[2013-09-10 16:10] annevk commented on #19
That's bullshit. Implementations are not allowed to deviate from the standard. The implementers know at this point in time their only option is 2. We can then evaluate later on whether we actually want 1, 2, or 3 or a combination. It's not about complete, software never is, it's about what we can ship right now and start playing without creating problems going forward.

[2013-09-10 16:24] medikoo commented on #19
It's exactly my point. We need to specify that, so we have one solution and not few different and incompatible (lack of specification leads to deviations).

Is it specified somewhere, or just decided behind the curtains? Implementers of which engines agreed on that?

We're talking about mandatory functionality that will make this API usable. It's `Promise.prototype.catch` that can be ignored and a

[2013-09-10 16:50] ForbesLindesay commented on #19
I keep failing to get people to see my point.  The analogy between array and promise holds up brilliantly in this case.  I'm not arguing for something to help error handling.  I'm not arguing for something to help performance by not creating an additional promise (I've implemented `done` in terms of `then` for my promise implementation).  **I'm arguing for a method that lets me say what I mean.**

[2013-09-10 16:50] ForbesLindesay commented on #19
Even if we could solve the halting problem and always detect promises that would never be handled, I'd still want `done` so I could express my intent.

[2013-09-10 17:22] juandopazo commented on #19
@ForbesLindesay FWIW it's not just about an analogy with arrays. Other languages have both features. For example Scala has `onComplete` and `map`.

[2013-09-10 17:27] erights commented on #19
@ForbesLindesay FWIW, I expect to want it too. But it would be a compatible addition, and so can come in standards that build on this one.

@medikoo I agree with the first part of this statement. I also agree that the argument for including .catch is weaker than that for .done, so including .catch and not .done seems mistaken. If you want to start an issue to remove .catch from this repository, I

[2013-09-10 17:38] medikoo commented on #19
@erights ~~To me `catch` is redundant to `then` not `done`, it's actually just sugar that can easily be implemented on top of `then`~~ _(edit: sorry misunderstood your point at first)_

I don't mind `catch` in the API, it's just surprising to see such optional function being added and `done` being ignored.

[2013-09-11 00:05] ForbesLindesay commented on #19
I could cope with not adding `.done` now.  My fear is that not having it from day one will make it a lot harder to teach people to use promises (in turn leading to more fear and hatred of them, which there is already far too much of).  I'm also concerned that most people are not saying "We can add this later, for now lets just get something out the door" they're saying "This won't be needed once t

[2013-09-11 02:43] lukehoban opened #26 "Handling of promises returned from onRejected"
The spec currently doesn't appear to handle promises returned from onRejected in the way that most promises implementations/specs i'm familiar with do (including Promises/A+, WinJS and the previous DOM Futures spec).

[code]

In this example, both the success and failure branches of the first `then` return promises.  So the final promise should resolve only when the selected branch's promise is re

[2013-09-11 02:54] erights commented on #19
Please see https://mail.mozilla.org/pipermail/es-discuss/2013-August/032486.html
I take the purpose of this repository to be guidance for item 2:

[code]

which refers back to

[code]

At the upcoming tc39 meeting, I will thus hope to see tc39 adopt a compatible superset (item 1) of the draft standard specified by this repository, enabling DOM to adopt the draft standard specified by this reposito

[2013-09-11 07:25] medikoo commented on #19
@ForbesLindesay

This is my big concern as well, and not specifying (or assuring existence of) `done` opens pandora's box of issues.

@erights sounds reasonable. I just can hope that indeed `done` will land in DOM and through that all will follow.

[2013-09-11 09:21] domenic commented on #26
I believe you are reading the spec wrong. A rejected promise will update any promises returned from its `then` method via the spec-internal method `UpdateDerivedFromReason`, which calls `CallHandler(returnedPromiseFromThen, onRejectedPassedToThen, reason)`. `CallHandler` accounts for any return value by calling `Resolve(returnedPromiseFromThen, theReturnValue)`, and of course resolve does the usua

[2013-09-11 18:04] ghost commented on #19
@wycats I'm curious.  Can you provide an example of a programmer "intentionally trying to attach error handlers later"?

Thanks!

[2013-09-11 18:16] juandopazo commented on #19
@zenparsing preloading stuff into a cache?

[2013-09-11 20:29] erights commented on #19
@zenparsing http://research.google.com/pubs/pub40673.html
The mint/bank deposit method returns a promise for whether the transfer of money succeeds or fails. Later or earlier, or even on a different machine, the escrow exchange agent does a Q.all on several of these promises, which register onReject handlers on them.

In my experience, this kind of delayed registration is quite common, and is one

[2013-09-12 08:06] domenic commented on #23
Let's close this and leave as-is. I admit it's not a clear-cut answer, but I think the current situation is pretty good. I am open to compelling arguments in favor always-reject (even for argument/context validation errors), or even the OP's never-trap, but they would have to be made quickly and compellingly since we need to lock this down.

[2013-09-12 08:06] #26 closed, assigned to nobody

[2013-09-12 08:09] domenic commented on #19
OK. So `done` is outside the scope of this repository; closing this issue. But to be clear, as @erights states, it's not off the table entirely for ES7 promises. We can put it in the bucket of things, like `finally`, that at least some people want ASAP as additions to the DOM promises subset this repository is designed to codify.

[2013-09-12 08:09] #19 closed, assigned to nobody

[2013-09-12 14:17] mounirlamouri opened #29 "Remove race() method"
It seems that the `any()` static method from the DOM Promise has been replaced by `race()` which is basically the same behaviour with a different name.

The change has been made following the discussion in issue #13. Basically, the problem being that `any()` was confusing because it might mean "as soon as one promise settle" or "as soon as one promise fulfil or all reject". @domenic proposed to us

[2013-09-12 15:03] annevk commented on #29
I don't feel strongly. DOM only ever had an example for every (now all). @erights?

[2013-09-12 15:51] erights commented on #29
First, on the naming, I feel strongly that "race" is a good name and "any" and "some" are bad names. I can into that if necessary, but I think we've been over that enough.

Second, as to whether to include this functionality, under whatever name, in promises-unwrapping: I see this as in the same boat as .catch and .done. All could be omitted at this stage. I believe all of these will be present so

[2013-09-12 16:06] erights commented on #29
Rereading the original message, especially the above quote, I'm closing this. I consider my experience and the patterns I document in that paper to be clear data that .race fulfills a common use case. But thanks for raising this.

[2013-09-12 16:06] #29 closed, assigned to nobody

[2013-09-12 16:25] slightlyoff commented on #9
So I do object to this. And strongly. It makes it harder to build subclasses that want to vend different capabilities to the resolver callbacks: they now have to invent an ad-hoc positional parameter convention, instead of just using a unique name on the resolver object. This was an intentional choice based on the need for subclassing. Please revert, if only to turn the object passed in into a pro

[2013-09-12 16:28] domenic commented on #9
Such ad-hoc additions do not belong on the same level as the fundamental `resolve` and `reject` operations, symmetric with `then` (see #22) and should go in an options object.

[2013-09-12 16:44] slightlyoff commented on #9
That doesn't make any sense. The fundamental operations are likely to be extended over time: cancelation, progress notification, etc. Even if you want to demand that `resolve` and `reject` (and `accept`) can't be over-ridden on the object, there's no reason to prevent subclasses from doing as they please _with regards to those operations_

[2013-09-12 16:50] domenic commented on #9
Those operation are not fundamental (i.e. return <-> resolve, throw <-> reject). They are extensions.

I don't know what you're talking about with regard to overriding. Subclasses can pass whatever they want to the `resolver` function; separate `PromiseResolver` class vs. `resolve` and `reject` functions doesn't change that.

[2013-09-13 14:53] ghost commented on #23
Just continuing this inquiry...

The rule that promise-returning functions should never throw exceptions is going to be difficult for user code to maintain.  Consider this:

[code]

Destructuring is refutable and can therefore throw.  A corollary of the rule that promise-returning functions can never throw is that promise-returning functions cannot use destructuring (edit: in their argument list).

[2013-09-13 15:10] domenic commented on #23
That's a pretty compelling argument, although I still maintain _well-designed_ functions should not have dual failure modes. In Q we do this by `var promiseReturningFunction = Q.fbind(possibleThrowingOrReturningFunction)`. In ES7 you can imagine an `async` keyword (or perhaps a sigil, `function!` or `function^` or similar), which has the same effect.

In the meantime, I am not sure what the encour

[2013-09-13 15:28] erights commented on #25
@domenic We should only use [[Invoke]] for unconditional method calls. It is only observable when the unconditional method call is to an object whose type is not already known by the logic of the promise spec, such that it might be a proxy. Note that invoking a thenable's .then doesn't apply because that isn't unconditional, so it must be coded as a [[Get]] followed by a [[Call]] anyway. Invoking

[2013-09-13 15:31] domenic commented on #25
@erights yeah, but the linked es-discuss thread keeps floating ideas for some new trap or similar that handles the conditional invocation case. I guess we could close this pending any outcome there.

[2013-09-13 16:00] erights commented on #23
Sigh. I also find this argument compelling. In fact, it has me considering changing my mind on promise initializer behavior, so I am reopening this issue. (I say "sigh" only because I hope to close all significant open issues here before the upcoming TC39 meeting; but if a question is open, it is open.)

For promise initialization, the observable difference between sync and async errors could be t

[2013-09-13 16:13] erights commented on #25
Yes. I just had a long chat with @tvcutsem and we convinced each other that the status quo on [[Invoke]] is superior to all the alternative discussed on es-discuss as well as all the alternatives we privately discussed. This doesn't mean it is settled yet. Tom will be making our arguments soon on es-discuss. But let's assume the status quo on [[Invoke]] until a dramatic surprise to the contrary.

[2013-09-13 16:14] erights commented on #25
Given that [[Invoke]] is assumed to be only unconditional, in the absence of any observable difference, I am closing this.

[2013-09-13 16:14] #25 closed, assigned to nobody

[2013-09-13 16:39] erights commented on #25
https://mail.mozilla.org/pipermail/es-discuss/2013-September/033400.html

[2013-09-13 16:52] annevk commented on #23
Do PROMISE_BLOCK errors go to the console?

Is the proposal that thrown exceptions would no longer reject a promise? That is incompatible with A+. We could do it for the constructor I suppose, but then you would get surprised about the behavior with then().

Destructing errors seem like a static bug at the language level. It seems fine for those to throw early.

[2013-09-13 17:23] erights commented on #23
No, they result in rejected promises. PROMISE_BLOCK(...).done() errors would go to the console.

I imagine a self-hosted implementation of PROMISE_BLOCK would be something like:

[code]

No, that's not what I had in mind at all. A thrown exception would either be reported sync or async. If the error is thrown by a sync-called callback, as in the initializer, the throw propagates. If the error is t

[2013-09-13 19:01] domenic commented on #23
OK. Is this an accurate representation of your ideas, @erights?
- Change the promise constructor to not trap thrown errors; treat them as static failures of the promise-creation process. (E.g. `new Promise(r => getEventEmtter().on("success", r))` would throw, because of the typo.)
- Add to our list of nice-to-have-later additions a `Promise.try(func)`, which is essentially defined as

[code]

  Th

[2013-09-13 23:15] mhofman commented on #23
This is quite a departure from some of the current implementation, such as the current DOM Promises proposal / polyfill, as well as `Q.promise`.
My concern is that the synchronous code executed in the initializer is, as the name says, used to kick of an asynchronous operation. There will be a lot of promise wrappers built around existing callback based APIs and I'm sure some will throw synchronous

[2013-09-14 00:27] erights commented on #23
@mhofman I am hopeful that this argument from precedent lets us resolve this to the status quo. Even after elaborating the argument on the other side, history aside, I am only weakly in favor of it. The way of the web is to avoid breaking a strong precedent without an extremely strong reason, which we do not have here. We respected this, for example, by not changing the signature of .all without c

[2013-09-14 00:41] erights commented on #23
@domenic Yes, that accurately represents the position I stated.

I'm not sure either. After having given my best shot at trying to believe and argue for this change, I'm still unsure. I like @mhofman's point about precedent. If it holds up, I'm inclined to close this with the status quo. We may anyway.

[2013-09-14 01:18] ghost commented on #23
Just pointing out that this is not really true.  You can construct all kinds of cases where a function call throws based on refutation of argument destructuring, which are not statically knowable.

[2013-09-14 01:55] ghost commented on #23
I think an appropriate thing to advise is that, to put it into HTTP terms, 40x errors should manifest as exceptions, and 50x errors should manifest as rejections.  If you get a promise back from a function, then that should indicate that you provided the function with enough valid information to at least "start" the operation, whatever that may be.  Without language-level support for "async" funct

[2013-09-14 02:07] ghost commented on #23
Actually, I'm not sure if I believe what I wrote just above without constructing some code examples...

[2013-09-14 04:18] erights commented on #23
Having made the decision to reopen this, mulling over the arguments since then, and in light of the short time till the TC39 meeting, I'm closing this as the status quo. If there are strong objections we can reopen, but from the arguments so far, the status quo seems good enough even if possibly not ideal. Objections?

[2013-09-14 04:19] #23 closed, assigned to nobody

[2013-09-14 05:39] domenic commented on #23
@erights I guess my only objection is that the status quo is weird. We don't have any real guidance we can give to authors, and from one perspective, we are inconsistent with our own current guidance (never throw) for the promise constructor, since we throw on non-functions or bad `this`.

I actually just had an extended discussion yesterday with @tomdale (he works on Ember, which uses RSVP) which

[2013-09-14 18:21] erights commented on #23
I am also unsure that this is the _right_ decision, but I am confident that it is good enough. The status quo at least satisfies all the hard criteria we are already confident of.

DOM needs to proceed with something asap. TC39 is about to meet. If a clear decision emerges from _that_ meeting to close this issue differently, fine. Otherwise, by leaving this issue closed, it remains the clear fallb

[2013-09-17 22:38] domenic opened #30 "Should we make subclassing easy via `this.constructor` (or similar)?"
Disclaimer: this should not affect ability to achieve consensus, as it does not have observable effects until `@@create` is implemented in browsers.

@annevk pointed out that, unlike ES6 arrays, promises as specced are not very subclassable. If you do `class MyPromise extends Promise {}`, then every static method and instance method will by default return instances of `Promise`, not `MyPromise`.

[2013-09-18 22:55] domenic commented on #30
After a brief talk with Allen over dinner, I think I am going to make this change tonight. There is really no downside.

[2013-09-19 00:34] erights commented on #30
Why is it that this has no observable effect prior to @@create? @@create is not mentioned by the proposed text.

Currently, (s = Promise.cast(p).then(q,r)) protects the caller from any plan interference from code contributed by p,q,or r from running during the execution of this expression. Under this proposal, couldn't p be an instance of a subclass of Promise that violates this guarantee?

[2013-09-19 01:20] erights commented on #30
What does an "object's true, unforgable constructor." mean?

[2013-09-19 02:09] allenwb commented on #30
On Sep 17, 2013, at 6:39 PM, Domenic Denicola wrote:

Im not up to speed on the actual interface to promises but here are some patterns you should consider:

class Promise  {
   static factoryMethod(arg) {
        let newPromise = new this(arg);  //pass are if it is appropriate to do so for the constructor
        //alternatively do something with newPromise and arg
        return newPromise;
   }

[2013-09-19 02:15] allenwb commented on #30
On Sep 18, 2013, at 8:34 PM, Mark S. Miller wrote:

If the subclass doesn't override static 'cast' or 'then' (or possibly its constructor) then that invariant would hold.   @@create is called without arguments.

Allen

[2013-09-19 02:30] erights commented on #30
@allenwb In responding, I had an aha. If p is an instance of FooPromise, a subclass of Promise, what does Promise.cast(p) actually return? If it returns p itself, then I think we're hosed, both from some attacks I was worried about and from the one you mention: FooPromise could simply override .then (which I'm embarrassed to not have thought of!). However, if Promise.cast(p) returns p coerced to a

[2013-09-19 04:17] allenwb commented on #30
@erights Yes, that sounds right.  Promise can certainly decide to refuse to accept subclass instances as being interchangeable with its instance.  In that case, a a sublcass that wants to locally circumvent such guards needs to over-ride the methods that use  them. Whether that design pattern makes sense depends upon the requirements of the abstraction you are implementing.

This is all pretty muc

[2013-09-19 04:56] domenic commented on #30
Agree, we must make XPromise.cast(p) always return an XPromise (including for the case of XPromise being plain Promise). This must be a very strong guarantee, tamper-proof against e.g. messing with `.constructor`.

But generally, it would be nice to make the default behavior for subclassing Promise make all its static methods and all its instance methods return instances of the same class as `this

[2013-09-19 11:02] erights commented on #30
This looks good to me.

[2013-09-23 03:45] domenic commented on #30
Implemented in #31.

[2013-09-23 03:45] #30 closed, assigned to nobody

[2013-09-23 03:46] domenic commented on #6
Reopening as part of the initiative to completely ECMAScript-ize the spec.

[2013-09-23 03:51] domenic opened #32 ""Call `deferred.[[Resolve]](x)`" is imprecise and problematic"
Since `deferred.[[Resolve]]` is derived from user-created constructors, it could be a non-function.

We should model this after [how `propDesc.[[Get]]` is called](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-9.1.9):

[2013-09-23 03:53] domenic opened #33 "Replace "thenable" with "promise-like"?"
As much as "thenable" has served us well in the promise community, for an ES-spec, the notion of "array-like" gives us a good precedence. It also helps overcome some peoples' confusion at the concept. We should probably adopt it.

@erights, I know you were a fan of thenable (actually you were the one that helped Kris and I realize we should adopt it more formally in our precise language). Any obje

[2013-09-23 04:02] domenic opened #34 "Stop using function-call notation"
The ES spec, unfortunately, prefers verbose things like

Whereas I have written things as

[2013-09-23 04:02] erights commented on #33
@domenic yes, sorry, I do object. I have repeatedly encountered people who confuse thenables with promises. Using very different names for these two concepts helps distinguish them. "Promise-like" suggests throwing them in the same mental category as promises.

Citing the history of "array-like" IMO is another strike against it. We've repeatedly tried to pin down what we mean by this (including my

[2013-09-23 04:13] domenic opened #35 ""terminate these steps" should be "return"."

[2013-09-23 04:29] domenic opened #36 "Formalize creating functions that perform abstract operations"
This occurs with some frequency throughout the spec. The simpler cases are currently in the form:

A more complicated case is:

And [`Promise.all`](https://github.com/domenic/promises-unwrapping#promisealliterable) has an even more complicated one.

---

The ES6 spec does not create functions and pass them to user code very often. When I asked @allenwb about this, he pointed me to the sole example

[2013-09-23 04:33] domenic opened #37 "Use bold, italics, and monospace separately"
Currently I just use monospace. The ES spec uses each for different purposes, and some of the things that I use monospace for (like abstract operations) it just leaves as normal text.

[2013-09-23 04:34] domenic opened #38 "Use spaces around parens in function/operation definitions"

[2013-09-23 04:40] domenic opened #39 "Formalize ThenableCoercions Weak Map"
The ES-type notation at the very least is not going to fly. It might suffice to just define three abstract operations, `ThenableCoercionsHas(thenable)`, `ThenableCoercionsGet(thenable)`, and `ThenableCoercionsSet(thenable, promise)`.

Specifying their behavior also needs to get a bit better. For example, it should probably be a per-realm weak map. Perhaps we associate a <del>`[[ThenableCoercions]]

[2013-09-23 04:43] domenic opened #40 "Tighten up language around the [[Derived]] list"
Model it after e.g. how [[SetData]] is treated. Just little phrases, like "Append value as the last element of entries."

[2013-09-23 05:57] allenwb commented on #36
Some of the steps used to create %ThrowTypeError% can be abstracted into a separate abstract operation if we are going to need to have a number of such dynamically created functions.  However, we need to look at the specific functions variations chosen for that %ThrowTypeError% and see if they also apply to your use cases.  In particular, you need to think about whether these functions should be n

[2013-09-23 14:25] annevk commented on #36
I don't think there's much benefit in making these functions extensible. The only observable effect is invoking them.

[2013-09-23 14:29] annevk commented on #33
Keeping thenables works for me, but given that this is editorial I think @allenwb should make the call.

[2013-09-23 15:27] allenwb commented on #36
@annevk you have the question backwards.  By default, all ES objects are extensible. If you think one needs to be non-extensible you need to  justify it.

[2013-09-24 21:01] Raynos opened #41 "consider a version of Promise.all that works on object"
Promise.all takes an array of promises and returns a promise for an array.

This form of doing parallel execution is useful.

Another form of parallel execution that is useful is something that takes an object of key to promise and returns a promise for an object of key to value of promise at that key.

The majority of my parallel execution flow control is covered by a user land module called [`co

[2013-09-24 21:09] domenic commented on #41
The problems with such methods have been discussed at length in promise library repos, e.g. kriskowal/q#374, kriskowal/q#159, kriskowal/q#171, kriskowal/q#328. ES6 also makes them much less useful, generally, since you can do

[code]

instead of

[code]

[2013-09-24 22:19] Raynos commented on #41
the discussion in those issues does not explain it well other then "slippery slope". If you take a look at the `continuable-para` implementation it's a simple three state machine

[code]

I could imagine that `Promise.all` is another 2 state machine with `if(isIterable()) { currentImplementation() } else { propertiesImplementation() }`

My other use case for this is to have say a hash of teachers

[2013-09-24 22:21] Raynos commented on #41
@domenic note that before I used `continuable-para` I authored and used `continuable-list` & `continuable-hash` as explicit and independent flow control primitives. From personal experience it's tedious to use & import both when the alternative is just using a single parallel function that works on the common structures.

Anything more complex is obvouisly out of scope and should not be in the cor

[2013-09-25 07:39] petkaantonov commented on #41
Well, in promises_unwrapping it actually takes an iterable.

<hr>

However, assuming the usual `Promise.all` that works on Arrays.

I am not convinced by the arguments in 374 either. The obvious thing to do is to check for a non-primitive and only use enumerable own properties as returned by `Object.keys()` (as implied in the last comment in that issue but ignored). Arrays (`Array.isArray`) and Pr

[2013-09-29 23:48] domenic opened #42 "Overriden `then`s?"
Hoping for feedback by @erights especially on this issue raised by @wycats.

As specced, we do one-level unwrapping of true promises in [`Resolve`](https://github.com/domenic/promises-unwrapping#resolvep-x). That is, we transfer over `[[Following]]`, `[[Value]]`, and `[[Reason]]`. In contrast, thenables get stored in `[[Value]]`, and only unwrapped later, inside [`UpdateDerived`](https://github.co

[2013-09-30 01:25] erights commented on #42
See the Q-like high integrity promises in makeQ at https://code.google.com/p/es-lab/source/browse/trunk/src/ses/makeQ.js

These haven't yet been adjusted to be AP2-like, in that they still do their assimilation on the output side of .then. But I think that's orthogonal to the issues being raised here. Please see if they are vulnerable to any of the attacks you have in mind. Thanks.

[2013-09-30 03:18] domenic commented on #42
@erights I think I see. `Promise.cast` (or `Q`, in makeQ) is only meant to ensure you have an instance of `Promise`, and since the makeQ promises deeply-freeze `Promise` (including `Promise.prototype`), `Q` produces safe promises. Presumably in ES6, someone who wanted safe promises would deeply-freeze `Promise` as well.

I think this is still susceptible to the following "attack" (not sure if it's

[2013-09-30 04:14] erights commented on #42
On Sun, Sep 29, 2013 at 8:18 PM, Domenic Denicola
notifications@github.comwrote:

##

Text by me above is hereby placed in the public domain

  Cheers,
  --MarkM

[2013-09-30 04:22] domenic commented on #42
OK, in that case there is a bug in the definition of `Promise.cast`. It currently works by storing the constructor that was used to create the promise object in the internal `[[PromiseConstructor]]` class, and returning the input if `input.[[PromiseConstructor]]` equals `Promise` (or, in general, `this`). This is not correct, it seems.

I am not sure what the best test would be. Perhaps add in a `

[2013-09-30 04:28] erights commented on #42
In general, when the spec talks about getting the [[Foo]] internal property of bar, it means only to obtain an internal own property. Internal properties are not usually thought of as being subject to inheritance.

[2013-09-30 04:32] domenic commented on #42
That can't be right; otherwise you would not be able to subclass anything. E.g. the `[[MapData]]` lookup for maps could not be own.

[2013-09-30 05:03] erights commented on #42
I don't understand. [[MapData]] is on the instance. It is an own lookup. It is not inherited.

[2013-09-30 05:07] domenic commented on #42
I believe it is inherited. (It might be time for @allenwb to step in here.) In other words, this should work:

[code]

Consider e.g. http://people.mozilla.org/~jorendorff/es6-draft.html#sec-23.1.3.6:

It seems like if [[MapData]] was not inherited, `this`, i.e. `m` in the above example, would have no `[[MapData]]`, so `m.set` would fail with a TypeError.

[2013-09-30 05:11] erights commented on #42
The extends goes along with having the subclass constructor delegate some own instance initialization to the superclass constructor. The superclass constructor initializes these properties directly on the same instance that the subclass initializes.

Inheritance only comes into play in this pattern for the properties that are not per-instance. Those are inherited from prototypes.

[2013-09-30 05:13] domenic commented on #42
Oh, right, that makes sense! Thanks for sticking with me on that.

[2013-09-30 05:14] domenic commented on #42
So then, this should fail?

[code]

[2013-09-30 05:23] erights commented on #42
Yes. (@allenwb, please confirm)

[2013-09-30 05:45] allenwb commented on #42
Map's @@create method allocates an object that has a [[MapData]] internal data property.
See http://people.mozilla.org/~jorendorff/es6-draft.html#sec-23.1.2.2

That (static) method is inherited by MyMap and  called by the new operator.  Its state is initialized by the Map constructor http://people.mozilla.org/~jorendorff/es6-draft.html#sec-23.1.1.1

Because MyMap does not define a constructor body

[2013-09-30 05:53] allenwb commented on #42
Also,

Internal data properties, as used in the ES spec, are never inherited.  They aren't even actually properties. They are just private state of objects that is provide in some implementation dependent manner.  Inheriting the @@create method provides the behavior of allocating an object with the desired internal data properties.

[2013-10-01 14:36] 6XGate opened #43 "Don't coerce Promise in UpdateDerived"
Would it not be more favorable update with a derived promise when originator.[[Value]] is already a Promise rather than try to coerce it as a Thenable/Promise-like.

[2013-10-01 14:37] 6XGate commented on #43
A diff of the README.md:

[code]

[2013-10-01 15:43] domenic commented on #43
It's impossible for `originator.[[Value]]` to ever be a promise; see the `Resolve` algorithm.

(Or, if you can produce a counterexample piece of code, that's a bug, and I'll reopen so we can fix it!)

[2013-10-01 15:43] #43 closed, assigned to nobody

[2013-10-02 17:23] skaegi opened #44 "Can sub-classes use additional arguments for "then"?"
I'm writing a Promise sub-class that supports the resolver sending "progress" to listeners. e.g. my `resolver` accepts a third argument -- a `notify` function -- that is used to send "progress".

At the moment I register a listener by calling `promise.then(null, null, onProgress)` where `onProgress` is a function that expects a `ProgressEvent`.

Is this going to be supported or is the contract for

[2013-10-04 18:41] domenic commented on #44
This should work fine:

[code]

Is there anything in the current spec you can see that would prevent such a technique?

[2013-10-04 19:34] skaegi commented on #44
Thanks @domenic, I just wanted to be sure this approach was going to be acceptable and that thinking on progress/notify hasn't changed dramatically from the thinking in https://github.com/promises-aplus/progress-spec/issues/5.

I'll write up another sub-class implementation to validate.

[2013-10-07 21:18] domenic commented on #41
In general overloading and return-type polymorphism is discouraged. If this becomes a popular user-space extension we could consider `Promise.allObject` or similar. But it is not in the scope of the September 2013 TC39 consensus, so closing for now.

[2013-10-07 21:18] #41 closed, assigned to nobody

[2013-10-07 21:22] domenic commented on #44
@skaegi well personally I think trying to tie progress to promises is not a great idea, and especially not trying to put it on the same footing as `onFulfilled`/`onRejected` as arguments to `then`, or as `resolve`/`reject` as arguments to the resolver. I've given some arguments in depth here why I feel that progress as part of promises is a mistake:

http://lists.w3.org/Archives/Public/www-dom/201

[2013-10-07 21:22] #44 closed, assigned to nobody

[2013-10-07 21:25] domenic commented on #39
@allenwb, what do you think of the above strategy ("For example... perhaps we associate...")? <del>Alternately, could I just assign _new_ internal data properties to the thenables, i.e. `thenable.[[Promise]]`? I don't think anything else in the spec does that, but I think it would be the same...</del> <ins>Upon learning more about internal data properties that seems like a really dumb idea, neverm

[2013-10-07 21:27] domenic commented on #33
Assigning to @allenwb for some input. I can go either way.

[2013-10-07 21:48] #32 closed, assigned to nobody

[2013-10-07 21:49] #35 closed, assigned to nobody

[2013-10-07 21:59] domenic opened #45 "Tighten up internal data property treatment"
Currently I use the concept of "set" and "unset." The correct verbiage is "has internal data property," e.g.

should become

[2013-10-07 22:06] #40 closed, assigned to nobody

[2013-10-07 22:17] #38 closed, assigned to nobody

[2013-10-07 22:18] domenic opened #46 "Formalize iteration protocol"
In `Promise.race` and `Promise.all` I currently do

I should use the new IteratorStep abstract operation.

[2013-10-07 22:42] domenic opened #47 "Testable implementation is starting to lag"
As of 19318d31acc2812bde19ae654babdd5dce5742ff it is not up to date with the spec, as it does not handle exceptions in `Promise.race` per the new behavior. Also, as discovered in #42, internal properties are not inherited, so the way they are currently done is wrong. And the `@@create` stuff was never quite right.

As #6 is implemented, the delta between how the spec talks about things (with compl

[2013-10-07 22:57] #46 closed, assigned to nobody

[2013-10-07 23:11] domenic commented on #34
@allenwb, looking at the draft, I am confused about best practice for abstract operations that are not internal methods of objects. It seems clear that for internal methods, you use the "return the result of ..." quoted above. But for general abstract operations, I see any of:

Obviously I'm a fan of the last one. Which should it be? And any thoughts on the internal methods case?

[2013-10-07 23:13] #6 closed, assigned to nobody

[2013-10-07 23:47] domenic commented on #45
Upon re-reading https://people.mozilla.org/~jorendorff/es6-draft.html#sec-object-internal-methods-and-internal-data-properties:

It seems like I should not be dynamically adding/removing properties. This means we'll need separate [[HasValue]] and [[HasReason]] properties :(. ([[Following]] should be OK since it is always a promise, so `undefined` can be a sentinel.)

[2013-10-08 00:07] #45 closed, assigned to nobody

[2013-10-08 01:50] Nathan-Wall opened #48 "Typo: e => result"
In the latest changes, one of the `e`s that were changed to `result` got left behind.

In **Promise ( resolver )**, step 13:

[code]

should be

[code]

[2013-10-08 09:28] #48 closed, assigned to nobody

[2013-10-08 17:31] Nathan-Wall opened #49 "Drop dot notation for internal data properties"
See https://mail.mozilla.org/pipermail/es-discuss/2013-October/033962.html .  Specifically Allen's statement "The dot notation is never used in the spec to refer to internal data properties."

Example from current draft (taken from `IsPromise`):

I don't know what the correct notation would be, but `[[IsPromise]]` is an internal data property, so should probably not be accessed with dot notation.

[2013-10-08 18:36] domenic commented on #49
Yeah, related to #34, but giving it its own issue makes sense.

[2013-10-08 20:32] skaegi commented on #44
Thanks @domenic -- that was an interesting thread.
We've been heavy users of "progress" for the last couple of years and I agree with your instincts. To be honest for the way we've been using it (mostly sending `ProgressEvents` with no propagation) something like `EventTarget` might be more sensible. The only thing lost by removing `onProgress` from `then` is the propagation which as other have po

[2013-10-08 22:18] wycats commented on #42
Can someone tell me, succinctly, the benefit(s) of having both Promises and Thenables, with mostly equivalent, but occasionally slightly divergent semantics?

[2013-10-08 22:23] erights commented on #42
If we didn't have legacy, we'd still have promises. Promises guarantee turn
isolation.

Assimilating thenables is a kludge we tolerate because of legacy. A
thenable can have any behavior, and so it not assumed to have any behavior
reliably.

On Tue, Oct 8, 2013 at 3:18 PM, Yehuda Katz notifications@github.comwrote:

##

Text by me above is hereby placed in the public domain

  Cheers,
  --MarkM

[2013-10-08 22:24] wycats commented on #42
What specific behavior of Promises are you trying to guarantee, and in what situations is it actually guaranteed?

[2013-10-08 22:40] erights commented on #42
I thought you wanted succinct ;).

var p = Promise.cast(arb0);
assert(p === Promise.cast(p));
var p2 = p.then(arb1, arb2);
assert(p2 === Promise.cast(p2));

Where arb0, arb1, and arb2 are three variables holding arbitrary values contributed by our untrusted client.

No code contributed by arb0, arb1, or arb2 executes during the above code sequence. Assuming nothing else in the enclosing turn uses

[2013-10-08 22:57] wycats commented on #42
Why is it important to treat "secure" promises differently here? Why couldn't we just do exactly the same thing. Implementations could of course use an optimized implementation for the **actual** `cast` if they can see that a DOM Promise (with an unmodified `then`) was provided.

[2013-10-08 23:42] erights commented on #42
I do not understand the question. Differently from what? Exactly the same thing as what? Fewer pronouns and more explicit context please.

[2013-10-09 02:27] wycats commented on #42
I am asking why we can't have `Promise.cast` do the same round-tripping through `.then` and the event loop that we do for thenables.

[2013-10-09 03:24] erights commented on #42
Are you suggesting that

[code]

where p1 is a promise, that p1.then would be called, in order for p2 to effectively follow p1? If so, you lose the ability to support lazy evaluation and promise pipelining. To support these, p2 must follow p1 by internal promise-to-promise interaction not mediated by p1.then. This applies to .flatMap too, or it wouldn't be flat.

[2013-10-09 05:15] wycats commented on #42
Let me pop up a level. What I am suggesting is:

If there is a capability that "real" promises have that userland promises do not have, we should either:
- explain why the distinction pays for itself
- expose a protocol for userland promises to have the same capability

Your last comment says that there is, indeed, a capability that only true promises have ("internal promise-to-promise interaction

[2013-10-10 03:49] Nathan-Wall opened #50 "Throw Error if constructor passed to GetDeferred doesn't pass functions?"
From **GetDeferred**:

The first two arguments passed to `resolver` are expected to be functions, however no validation is done.  Should there be an error thrown if `resolve` or `reject` aren't functions?  Another option would be to fall back to use the default Promise constructor if they're not functions.

[2013-10-10 04:43] Nathan-Wall opened #51 "Then call to GetDeferred expects a proper Promise (or subclass) but doesn't verify"
This is pretty out there, but the call to `GetDeferred` inside `Then` is the only place where `GetDeferred` is called and the `[[Resolve]]` and `[[Reject]]` return values are ignored.  The assumption is made here that since `Then` only ever accepts true Promises (or subclasses) as an argument (`p`) that its `constructor` will create an object which is also a true Promise (passes `IsPromise`).

Her

[2013-10-10 10:43] domenic commented on #51
Oh dear, this seems like a pretty large problem. In general, the idea of malicious promise subclasses is causing me headaches.

One fix might be to use `[[PromiseConstructor]]` instead of the `.constructor` property. But I believe that does not help the case of

I am also curious about the idea of

which I had considered back when adding subclassing support but dismissed as too complex. If it's ne

[2013-10-10 11:24] domenic commented on #50
Hmm. I think the correct thing to do is a just-in-time rejection. E.g. this:

Should become

Here I introduce a new shorthand, "return a `TypeError` rejection," in a similar fashion to the ES spec's "throw a `TypeError`" shorthand.

This is getting complicated...

[2013-10-10 18:58] 6XGate opened #52 "CallHandle improperly transforms a derived promise."
It seems that when a Promise is fulfilled or rejected, the CallHandle will call the proper fulfill or reject handler on the derived Promise, but it doesn't seem to be aware of which handler it is calling and will always set the derived Promise state to fulfilled, even though the origin Promise is rejected.

Example code:

[code]

This will produce the following output:

[code]

And the states of e

[2013-10-10 19:06] 6XGate commented on #52
I would recommend creating a separate CallRejectHandler and CallResolveHandler.

## CallResolveHandler(derivedPromise, handler, value)
1. Queue a microtask to do the following:
   1. Let `result` be `handler.[[Call]](undefined, (value))`
   2. If `result` is an abrupt completion, call `Reject(derivedPromise, result.[[value]])`
   3. Otherwise, call `Resolve(derivedPromise, result.[[value]])`.

##

[2013-10-10 21:29] Nathan-Wall commented on #52
This is expected.  You caught the rejection and handled it, so p[1] and p[2] shouldn't be in the rejected state.  If you want to propagate the rejection, either:

[code]

or

[code]

In both of these cases p[0], p[1], and p[2] are all in the rejected state.  In your example, p[1] goes into the fulfilled state because the code handles the rejection from p[0] and then implicitly returns `undefined`.

[2013-10-10 22:46] domenic commented on #52
Indeed. Proof-reading appreciated though; thanks for looking into it!

[2013-10-10 22:46] #52 closed, assigned to nobody

[2013-10-11 02:24] Nathan-Wall commented on #50
I think that sounds like a good idea.  Why not put the check inside `GetDeferred`, though, so that it doesn't have to be duplicated everywhere its used?  Would it make sense for the `[[Promise]]` returned by `GetDeferred` to be a `TypeError` rejection if `C` was a constructor which didn't pass in two functions?

It sort of begs the question, though, why it would still return a non-rejected Promise

[2013-10-12 17:04] spion commented on #19
I don't get it. Although late registration is common it still looks like a very special case to me. The vast majority of cases I've encountered don't involve sending promises over the wire and therefore don't seem to benefit from it.

On the other hand, it seems _very_ common to forget the need to use `.done` at the end of a longer promise chain and end up with bugs that leave no traces and take f

[2013-10-13 08:28] medikoo commented on #19
@spion you're missing something obvious. Spec in current shape is missing a function that provides access to resolved value without any side effects, `done` is the one.

The best way to get is to use promises in real projects and not just theorize about it, but following above discussion should also be helpful.

[2013-10-13 09:17] petkaantonov commented on #19
In your example, exceptions could have been exposed even if you had written:

[code]

Because it is possible for a promises library to detect that you don't have an error handler. So it is just common sense to report it or even throw it in the process.

Problem is that an error handler attachment could be delayed. And that's Spion's point: Why should everyday common usage be punished by requiring

[2013-10-13 09:43] wycats commented on #19
If you look upthread, you'll see that I proposed this a few times. The response argument, which I think I agree with after trying it, is that it's not always clear to a piece of code that receives a promise whether the error handler will be attached synchronously or asynchronously.

When you start building a system that abstracts asynchrony (especially one that forces asynchrony for consistency, l

[2013-10-13 09:59] petkaantonov commented on #19
The less extreme alternative I gave was just to report it, e.g. write the stack on stderr as possibly unhandled exception. You could then investigate it and either call undone() to signal that this has late handlers or fix the bug.

Yes, but the argument is still that it's better to force .undone() on people who do late attachment than to force done() on everyone, because late attachment is the le

[2013-10-13 10:09] medikoo commented on #19
@petkaantonov It's not possible to fix side effects of `then` in bulletproof way in plain JS implementation, and in native implementation it requires specific optimizations and some custom error handling mechanism that no other API has seen so far.

What is obscure it's how we want to fix the issues that we introduce by not providing `done`.

Argument that `then` and `done` are too much for averag

[2013-10-13 10:36] petkaantonov commented on #19
Well, let's just say we have very different definitions of ["average developer"](http://stackoverflow.com/questions/tagged/javascript) if you think they even use `.forEach` and `.map`. :smiley: I will check the when.js issue tracker but last time I checked the library doesn't provide long stack traces so I can see already how it would be less useful.

[2013-10-13 16:26] ghost commented on #19
@spion Thank for bringing this up - I believe that your intuition is correct.  I am preparing a post for es-discuss which will address this and other issues with the current Promise spec.

[2013-10-13 17:20] domenic commented on #51
I have solved this by adding an IsPromise check to GetDeferred. Failing this check will cause an exception that propagates outward. (I will open a new issue addressing exceptions.)

[2013-10-13 17:20] #51 closed, assigned to nobody

[2013-10-13 17:21] domenic commented on #37
This is largely done, as I do a pass through the specification to fix other editorial and normative concerns. Several abstract operations remain because I think I'll still be doing decent amounts of work on them for other reasons.

[2013-10-13 17:22] domenic commented on #34
I have settled on

This is largely done except inside operations which I still anticipate other revisions for.

[2013-10-13 17:22] spion commented on #19
I came up with an example that makes me wonder if I'm correct:

[code]

Not waiting for the remoteStore promise to resolve is not only convenient but also potentially much faster.

However, in this example its still beneficial to attach an error handler to the remoteStorePromise (e.g. to handle reconnection).

But I wasn't trying to make a case against `.done`, I was just looking for a simple exam

[2013-10-13 17:24] domenic commented on #50
In general ECMAScript tries to delay errors until the last minute. So e.g. `Promise.resolve` should still be able to work even if the promise subclass passes a non-callable for the `reject` parameter (i.e. the second parameter to the resolver).

But yes, for the more general case of _C_ not being a constructor at all, I now throw in GetDeferred.

Thanks for finding this; tricky stuff.

[2013-10-13 17:24] #50 closed, assigned to nobody

[2013-10-13 17:25] domenic commented on #42
I am closing this and opening a new issue to summarize. I think @wycats is probably right.

[2013-10-13 17:25] #42 closed, assigned to nobody

[2013-10-13 17:32] domenic opened #53 "Never bypass the `then` method"
### Proposal
- Move the contents of the Then abstract operation into the `Promise.prototype.then` method definition.
- Everywhere we use the Then abstract operation, replace it with a call to the respective `then` method.
  - Promise.all
  - Promise.race
  - Promise.prototype.then's recursive case
### Observable Changes
- This makes overriden `then`s govern the behavior of a promise, e.g.

[code]

[2013-10-13 18:13] domenic opened #54 "Make Resolve operate the same on promises and thenables, using `then`"
## Proposal
- Remove special-casing of IsPromise in Resolve. Instead, do one-level thenable unwrapping there. That is:
- Upon calling schedule a microtask do the usual get-then, call-then, dance.
- The details here are a bit complicated but we should take _whatever_ we get called back with, and do no more unwrapping beyond that first level.
- `Promise.prototype.then` still does recursive unwrappin

[2013-10-13 18:21] domenic commented on #54
@erights would appreciate your feedback before I implement this change; assigning to you.

[2013-10-13 18:21] domenic commented on #53
@erights would appreciate your feedback before I implement this change; assigning to you.

[2013-10-13 18:30] wycats commented on #54
Here are some quirks that these semantics improves, both in the old semantics:

[code]

[code]

[2013-10-13 18:56] domenic opened #55 "Should we trap exceptions?"
There are a number of pathological cases, mainly involving badly-behaved promise subclasses, that can cause unexpected state (e.g. a deferred whose [[Resolve]] is not callable).

Before the last day's worth of changes, these possibilities were either ignored (e.g. #51) or converted into rejections (see e.g. 420e9270429a8d9d6cac6ef5eee6b08bccd20493 for how that was done in `Promise.race`). After th

[2013-10-13 19:15] domenic opened #56 "Remove IsPromise check from GetDeferred"
This is related to #51 and proposes a different fix for it than was recently implemented in e2391248b0bd2c485b9f95c56c96dc5b8d0cf5e4.
## Proposal
- Remove the IsPromise check from GetDeferred
- Either:
  - Fix Then/`Promise.prototype.then` to use a different mechanism, instead of GetDeferred, for constructing its return value. (easy)
  - Pass the deferred.[[Resolve]] and deferred.[[Reject]] functi

[2013-10-13 22:54] domenic commented on #36
Note regarding closure capture: it's actually important for one use case that the captured variables be "let-like" as opposed to "var-like". In particular, for `Promise.all` I have an `index` variable that is continually updated, but then inside a "Repeat" step I do "Let _currentIndex_ be the current value of _index_," and then one of my created functions uses _currentIndex_ under the assumption t

[2013-10-13 23:02] #47 closed, assigned to nobody

[2013-10-14 02:33] erights commented on #54
accepted

We've discussed this before, I think over at Promises/A+. Without the special case, you lose the ability to support promise pipelining and lazy evaluation. Also, I don't see how this could possibly support .flatMap -- please explain.

[2013-10-14 02:37] erights commented on #53
accepted. Need to think about this. I will point out that

[code]

fails if p is frozen. If the assignment is in strict code, it fails noisily.

[2013-10-14 02:39] erights commented on #19
See http://research.google.com/pubs/pub40673.html
Even when used non-distributed, the patterns in this code do delayed registration.

[2013-10-14 02:40] domenic commented on #54
I am not sure I understand how this impacts pipelining, but, I do see the problem for lazy evaluation. Hmm. On the other hand, I am not sure how lazy evaluation fits with the current spec either, as we eagerly reach into the promise's current state upon resolving.

Let us assume there is a `Promise.accept` and a `Promise.prototype.flatMap`. Then:

[code]

[2013-10-14 02:43] domenic commented on #54
In other words, it seems to me that even one-level unwrapping breaks any lazy evaluation techniques, and if we wanted to support lazy evaluation, we should instead allow resolve to do no unwrapping, store the promise as the internal value, and let `then` do all the unwrapping (either one-level or multi-level). As you've noted in the past though, this is memory-inefficient for long promise chains.

[2013-10-14 03:28] erights commented on #54
When you say "Resolve" in this proposal, I think you're focusing on the implications for the Promise.resolve API, whereas I'm focusing on the implications for the result processing of .then. Specifically, https://github.com/domenic/promises-unwrapping#callhandler--derivedpromise--handler--argument- CallHandler, step iii calls the internal Resolve operation. If result.[[value]] is a promise, the al

[2013-10-14 03:30] erights commented on #54
So if you are really only concerned with changing the spec of the Promise.resolve API and not the semantics of the internal calls to Resolve, that's much more plausible, though I remain skeptical even of that.

[2013-10-14 03:35] domenic commented on #54
No, it is important for the result-processing of .then as well. As @wycats and I point out, returning promise subclasses right now is pretty broken, since any customized `then` behavior is ignored.

Why is this a must? Why can't it adopt the promise by using its .then method? That is, schedule a microtask to do (roughly, skipping the get-then-call-then dance)

[code]

Similarly I do not see why yo

[2013-10-14 03:51] erights commented on #54
Let's start with the example at
https://mail.mozilla.org/pipermail/es-discuss/2013-August/032901.html
If you adopt by invoking hr.then, you'd force the lazy evaluation to happen when the "v => hr" callback returns, which is way too early.

Since hr.then does assimilation on the input side, we would no longer be postponing assimilation until p2.then is called. It would essentially be a regression t

[2013-10-14 03:58] domenic commented on #54
Right, so it comes down to the laziness question. Small correction:

Technically hr is forced when p1 is fulfilled, not when p2 is constructed.

But regardless...

It seems very strange that only thenables are allowed to be lazy, and not promises. It seems there is a disconnect, and arguments that work for either should work for both:
- Do one-level unwrapping of promises to preserve memory _shoul

[2013-10-14 04:10] erights commented on #54
Whether promises can be lazy depends on what extension hooks we eventually provide. The Q.makeRemote hook stated at http://wiki.ecmascript.org/doku.php?id=strawman:concurrency#fundamental_static_q_methods and implemented at https://code.google.com/p/es-lab/source/browse/trunk/src/ses/makeQ.js#525 does allow lazy promises. The current proposal does not include such hooks, but we should definitely c

[2013-10-14 04:20] domenic commented on #54
Well, that leaves us in the unfortunate place of having to choose between subclassing and future support for laziness. IMO subclassing wins, especially since we don't know what form the laziness hooks will take and they could potentially be done in a way that does not depend on lazily executing `then`. (That is, `then` may not be the perform-computation trigger, as it is in the thenable example yo

[2013-10-14 04:29] erights commented on #54
Including .flatMap was essential to achieving TC39 consensus, as you'll remember from the meeting.

Even without .flatMap, the optimization you talk about is observable, and so is not just an optimization, since it accelerates assimilation to when v => mr returned as opposed to when p2.then is called. Since it is observable, the spec has to account for its semantics. This would reintroduce an IsPr

[2013-10-14 04:32] domenic commented on #54
Certainly, being flatMap-future-friendly is <del>important</del><ins>essential</ins>.

I do not see how this is possible. If the adopted promise is a true-promise without an overriden .then method, as specified, there should be no way to determine whether it was assimilated at resolve time or at .then time.

[2013-10-14 04:53] allenwb commented on #54
Let me know if I can be of any help with adapting the design for subclassing/extensibility. I'd hate to rush this into ES6 in a manner that isn't subclass extensible and then find out selves painted into a compatibility corner that prevents us from fixing it.

Subclass extensibility is usually a matter of finding an appropriate abstract algorithm that decomposes into a set of over-ridable (ie, ext

[2013-10-14 05:17] wycats commented on #54
@allenwb Yep. My claim, at the moment, is that `then` is a sufficient algorithm for subclassability. Mark wants to use internal state that isn't itself available to subclassing for important parts of the algorithm, which breaks subclassing.

I would also be comfortable with a larger kernel, if it was shown to be needed (probably via symbols), but I am deeply uncomfortable with important parts of t

[2013-10-14 05:32] domenic commented on #55
Interestingly both RSVP and Q trap "evil iterable" cases for `.all`. Maybe that should be considered "argument validation" and trapped, instead of being allowed to bubble.

[2013-10-14 13:04] ghost commented on #19
@erights That code, although dense, is a great illustration of delayed registration patterns.  I agree that delayed registration is an important feature, but the question is:  What is the best way to support both delayed registration and also proper and timely identification of program errors?

`Done` does the job, but at the cost of (a) bifurcating the callback API, and (b) requiring that the use

[2013-10-14 13:30] ghost commented on #19
A concrete proposal:

Conceptualize promises as nodes within a forest of trees.  Root nodes are created with the promise constructor:

[code]

Child nodes are created with `then`:

[code]

Any leaf node which is rejected is clearly an unhandled error because there is no child for the error to flow into.  The problem is: how do we know whether a given node is a leaf or an intermediate node whose ch

[2013-10-14 14:26] Nathan-Wall commented on #19
This answer seems easy and clear to me:  Proper debugging tools for uncaught `then`s.

[2013-10-14 15:43] ghost commented on #19
@Nathan-Wall That sounds cool, but:
- It presupposes an interactive debugging environment.  That's fine for the web, but do you want to make such an assumption for, say, Node?
- If you are making heavy use of delayed registration, then presumably you'll have lots of things coming and going from your promise debugging tool.  There will be noise that you'll have to filter (perhaps using some heurist

[2013-10-14 15:59] wycats commented on #19
@zenparsing I proposed precisely this a while ago (with the worse, tongue-in-cheek name `undone`).

The problem is: who exactly in an abstraction should call it? The delayed attachment mostly happens as a side effect of a lot of async, rather than an intentional choice to delay attachment.

In other words, there isn't really a point where you think "I'm going to delay attachment now", it's somethi

[2013-10-14 17:58] junosuarez opened #57 "Lazy create Derived list at end of PropagateToDerived"
The last step in PropagateToDerived says `Set the value of p's [[Derived]] internal data property to a new empty List.`

While implementing this in Obj-C it felt more natural (and efficient) to lazily create the collection object in a getter, especially when creating Promises which may never have downstream consumers. Rather than specifying that the new list be created in PropagateToDerived, perha

[2013-10-14 18:02] domenic commented on #57
Does this have any observable impact?

[2013-10-14 20:57] junosuarez commented on #57
No - if another derived promise were added to an already resolved promise, an implementation would then have to ensure that the `[[Derived]]` List exists and then contains as its first element the Derived promise.

In JavaScript, it's the difference between ending with `derived = []` and `derived = undefined`. Let `derived` be a property where:

[code]

It frees up the reference to the list data s

[2013-10-14 21:03] domenic commented on #57
If it has no observable impact, then it is outside the scope of the spec. Implementations are allowed to do whatever they want as long as their behavior is observably the same as the spec---that is how optimizations work, for example :).

[2013-10-14 21:05] junosuarez commented on #57
Fair enough - but since it's not observable, why is a particular implementation indicated by the spec? Why not use more generic language?

[2013-10-14 21:05] domenic commented on #57
BTW the reason I set it to a new empty List instead of clearing it somehow is because the former seemed doable in ES spec language, whereas the latter did not. (E.g. the [[MapData]] list "clears" itself by looping through all its elements and setting them to "empty".)

In the end I think this line isn't even necessary, as [[Derived]] will never be touched again after this. Perhaps I should remove

[2013-10-15 00:35] Nathan-Wall opened #58 "iterable should be transformed to an iterator"
It looks like places in the ES6 draft where a function takes an iteratable, it converts it to an iterator before passing to `IteratorStep`.  Should similar steps be taken in `Promise.all` and `Promise.race`?

For example, see [Map](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-map-iterable-comparator), step 7:

[code]

Then `iter` is passed to `IteratorStep`.

[2013-10-15 00:37] domenic commented on #58
Good call, thanks!

[2013-10-15 01:51] ghost commented on #19
@wycats What convinced you of that conclusion?  Can you provide an example?

[2013-10-15 02:52] #58 closed, assigned to nobody

[2013-10-15 03:23] domenic commented on #55
In 7e845e44045e4063c1e48cd3cfcab419620ae59b I shifted some bubbled exceptions to trapped rejections for argument validation in all/race. This moves the "evil iterable" cases into the rejections camp and makes all the bubbled exceptions stem from evil promise subclasses.

I believe this is a good place to be. Since this issue hasn't seen much interest, I will call it satisfactorily resolved, and cl

[2013-10-15 03:23] #55 closed, assigned to nobody

[2013-10-15 06:45] medikoo commented on #19
@zenparsing

Don't you see that your proposal is much more obscure and makes things much worse?

Many say `done` and `then` is too much for dumb developer (which in my opinion is nonsense). I ask do you expect that your proposal would be much easier for developers to adapt?

Do you think developer will less likely forget to run `delayed` which now you _require to add_ instead of `done`? and mind t

[2013-10-15 09:34] petkaantonov commented on #19
`delayed` is not required in place of `done`. It is not required at all. It is only when you do something like pass around promises as if they were event emitters that you would potentially need to call `delayed`. I can agree that telling in such a situation whether async or sync attachment is happening is hard but I disagree that this situation is common in the first place - hell, all the example

[2013-10-15 15:07] ghost commented on #19
@medikoo The thrust of your argument is that `done` / `then` are analogous to `forEach` / `map`.  I understand what you're saying, but you're back-porting this analogy onto the design, rather than building it _into_ the design.  If you were going to build it into the design, you would choose different names.  With a dual-callback API, `then` becomes an attractive nuisance because it's _such_ a nic

[2013-10-15 16:02] ForbesLindesay commented on #19
The assumption that you get an error quickly when you forget to add `delayed` is not valid.  When you forget to add delayed, it will probably work 95% of the time.  The other 5% of the time, there will be a massive error because of the race condition you create.  Since the promises are asynchronous, there's always a chance that the promise will take long enough to resolve that it gets watched befo

[2013-10-15 16:07] domenic commented on #19
Actually, please don't, or at least be aware that it will be closed immediately. Both `done` and any other proposed things anyone wants along these lines are outside of the scope of the TC39 September meeting consensus which this repo is meant to flesh out, and are off-topic to the real spec work going on here.

I would prefer that all this `done` rehashing take place elsewhere as well, but I don'

[2013-10-15 16:32] ghost commented on #19
@ForbesLindesay Easy mate.  We're just exploring - for kicks. : )

Regarding your argument, I think I understand what you're saying.  Need a minute to think about it though...

[2013-10-15 16:50] medikoo commented on #19
That's possible, but it's too late to start over with blank paper, `then` and `done` names were already coined in many libraries, and we should stick to them.

not to add, to use **instead** of `then` in the correct places

[2013-10-15 18:17] domenic opened #59 "Should cleanup steps be included or omitted?"
Question for @allenwb: in [PropagateToDerived](https://github.com/domenic/promises-unwrapping#propagatetoderived--p-), I clean up the [[Derived]] List:

"Set the value of p's [[Derived]] internal data property to a new empty List."

This is not strictly necessary, as after this point [[Derived]] will never be touched again. But it seems nice to include, as without it, naive implementations followi

[2013-10-15 18:17] domenic commented on #57
Closed in favor of #59.

[2013-10-15 18:17] #57 closed, assigned to nobody

[2013-10-15 19:15] jorendorff opened #60 "PropagateToDerived should not have to ReturnIfAbrupt"
The ReturnIfAbrupt call in the loop in PropagateToDerived looks awfully suspicious to me. It's important to finish, and it's important not to reenter, so returning abruptly there should never happen.

It looks like UpdateDerived is infallible; anything that could fail is scheduled for a later microtask. So I think the ReturnIfAbrupt call can just be removed.

[2013-10-15 19:22] domenic commented on #60
I believe this is correct; I remember when adding the ReturnIfAbrupts that I was unsure about its utility in this case.

Sounds like a plan, thanks.

[2013-10-16 02:34] allenwb commented on #34
any of these are fine. Depending upon the phase of the moon I might change such things. But probably not.

[2013-10-16 02:37] Nathan-Wall commented on #55
The following are two consistent options I see for dealing with errors in promise-generating functions.
1. Always produce a rejected promise.
2. Throw when the error is unambiguously detectable synchronously; return a rejected promise when the error is potentially asynchronous.

I might have missed it, but I haven't seen **2** discussed in these terms exactly.  It seems most of the discussion in t

[2013-10-16 02:54] allenwb commented on #36
Hmm.. I thought I'd already respond with this, but I can't find it. So here goes again:

I suggest you follow the pattern establish by this spec fragment:

26.2.2.1    Proxy.revocable ( target, handler )
The Proxy.revocable function takes two arguments target and handler, and performs the following:
The Proxy.revocable function is used to create a revocable Proxy object When Proxy.revocable is cal

[2013-10-16 04:16] domenic commented on #36
Oh awesome, thanks Allen. That looks quite pleasant. Only a couple questions:
- I don't see anywhere that specifies exactly what characteristics the function has, e.g. whether it's a method, arrow, etc.; what its `length` is, what its prototype is. Any ideas on that?
- How would you allow the function to take arguments and act on them?

[2013-10-16 04:18] domenic commented on #59
Given how in https://github.com/domenic/promises-unwrapping/issues/36#issuecomment-26389422 @allenwb explicitly sets internal slots to `undefined` in order to ensure proxy targets and handlers are garbage-collectable, I think we have our answer: cleanup steps are indeed necessary.

[2013-10-16 04:18] #59 closed, assigned to allenwb

[2013-10-16 05:16] allenwb commented on #36
They are built-in functions so all the rules in http://people.mozilla.org/~jorendorff/es6-draft.html#sec-17 apply to them.

Just describe the arguments like you would for any other built-in.  For example:
When an anonymous resolver function is called with arguments resolve and the following steps are taken:

[2013-10-16 19:27] ghost commented on #19
@ForbesLindesay Let's take a look at this.

Assume that I've unintentionally left out a `delay` on a promise which is supposed to be delayed.  And let's assume that the resulting error was not revealed in testing due to environmental (async) concerns.  What are the consequences?
1. For a web application, an error message will get logged to the console and window.onerror will get called.  Otherwise

[2013-10-17 01:19] domenic commented on #55
@Nathan-Wall that is interesting, and I agree it does give somewhat consistent semantics. But I would rather produce a rejected promise for argument validation, for the reasons discussed in #24.

Ideally I would rather return a rejected promise for the "`this`/`this.constructor`-validation" situations, but on the other hand if your `this` is messed up, you're going to have a hard time constructing

[2013-10-17 11:05] ForbesLindesay commented on #19
@zenparsing read the entire discussion.  Debugging tools will be able to catch up and trap unhandled rejections.  They will also be able to report the bulk of the "never handled rejections" by hooking into the garbage collector at some point in the future.  Non-deterministic bugs are by far the hardest things to fix.  The way things currently are makes these bugs deterministic, which is a huge ben

[2013-10-17 14:19] medikoo commented on #55
I think all functions either synchronous or asynchronous should expose invalid arguments errors in same manner. It's rejection because of algorithm error (function cannot be executed), and that's in all cases synchronous.

In node.js all async functions throw on invalid arguments (same I believe is in all other async JavaScript API's that we have so far). It's expected behavior, and I don't rememb

[2013-10-17 14:27] ghost commented on #19
@ForbesLindesay I don't quite understand what you mean when you say that the current model makes "these" bugs deterministic.  Can you elaborate?

[2013-10-17 14:33] medikoo commented on #24
I don't agree. It's strictly about algorithm errors, same as you never throw errors intentionally to break application, same you never pass invalid arguments to functions intentionally. There's no logical place for `try/catch` here.

And if you _test_ some foreign function, to see if it works properly, then no matter whether it returns promise or not you wrap it with `try/catch` (after all we're b

[2013-10-17 15:32] spion commented on #19
The current model always swallows these bugs when you forget to use `done()` but you're not using the return result of `then()`. In that way, its deterministic.

The `delayed()` model will swallow forgetting to use `delayed()` _sometimes_ - only if the promise rejection happens before attaching the rejection handler.

[code]

If I forget the first line in `remoteDataStorePromise`, there are two po

[2013-10-17 16:56] ghost commented on #19
@spion Thanks - this is just what we need.

First, I hardly think swallowing of program errors can be considered helpful, deterministic or not.  So we can leave that argument behind.

Second, I wouldn't be so sure that using the GC is "perfect".  First of all, the garbage collector does not give you any guarantees about whether a particular object will be collected.  (Correct me if I'm wrong, plea

[2013-10-17 20:10] ghost commented on #19
Let's take a look at @spion 's code (reformatted somewhat):

[code]

It seems to me that implicit in this code is the assumption that `fetchCachedOrRemote` is not "responsible" for any errors that may be represented by `remoteDataStorePromise`.  It uses that promise, but it does not "own" it.

Also, the "responsibility" for any other promises generated in this function are transferred out to the c

[2013-10-17 23:36] spion commented on #19
Yes I agree - my example is lacking. Whoever created the remoteDataStore promise is ultimately responsible of handling its error conditions (e.g. retrying the connection, perhaps). Therefore my example only shows that late registration is beneficial in general, but not that there is a need for late registration of error handlers

Another important thing that I noticed is that the example in the pa

[2013-10-18 01:29] ghost commented on #19
I agree.  As proposed, `delayed` does nothing but swallow errors.  Let's drop it from the discussion.  It doesn't bear on our present line of inquiry, anyway.

[2013-10-18 15:50] ghost commented on #19
Clearly decidable error handling (as I proposed above) is no less powerful than undecidable error handling - one could simply "delay" any promises that are going to be handled later.  But as we've seen, that isn't a very good programming strategy.

Our task now is to come up with a reliable pattern for handling errors within the context of a decidable error handling model.

First, some terminology

[2013-10-19 10:52] ForbesLindesay commented on #19
@zenparsing or the promise must be stored in a variable somewhere, that can be later referenced and handled.  You're trying to solve the halting problem (which is known to be impossible).  The garbage collector does a pretty decent job.  We can't "crash the app" when the unhandled rejection is noticed by the garbage collector, but we can log it and alert the developer to the error.

The reasoning

[2013-10-19 11:04] medikoo commented on #19
Actually It has a lot to do with error handling as well. It's the only function that allows us to process resolved value outside of promise specific error handling mechanism. I see it as no less important feature.

Mind also that API in current shape doesn't provide any way to expose unhandled errors (they'll be silent). Therefore it cannot be perceived as valid for a complete implementation. Addi

[2013-10-19 12:50] ghost commented on #19
@ForbesLindesay I'm certainly not trying to solve the halting problem!  As I've laid out, the current error handling model is undecidable.  That is, the problem of determining whether a particular error has a handler is undecidable.  In my opinion, this is a mistake.

On the other hand, under the proposal at https://github.com/domenic/promises-unwrapping/issues/19#issuecomment-26254979 the problem

[2013-10-19 13:06] ForbesLindesay commented on #19
You can either:
1. Loose deterministic behavior (this isn't going to be accepted)
2. Throw/Log on garbage collected unhandled rejections (this won't catch every possible case, but gets most of the way)
3. Add a `.done` method (this allows pure expression of intent, will catch any case where it's added, but can be accidentally forgotten).
4. Solve the halting problem (this is the only thing that ca

[2013-10-19 15:00] ghost commented on #19
The question I'm pursuing is, can we "do" promises in such a way that error handling is both deterministic (to use your terminology) and decidable.

If we adhere to the rule at https://github.com/domenic/promises-unwrapping/issues/19#issuecomment-26606667 , do you agree that error handling is deterministic?  Or am I misinterpreting your meaning?

[2013-10-19 16:07] Nathan-Wall commented on #19
@ForbesLindesay, there's another version of 2 which is to log unhandled rejections and unlog them when they get handled, so that it's not dependent on the garbage collector... maybe the debug tools could permit you to filter by rejections that had been garbage collected for a better view, but non-collected unhandled rejections could be made visible.

[2013-10-22 16:05] domenic opened #61 "Potential reentrance bug in CoerceThenable"
From @rossberg-chromium:

CoerceThenable will be changed as part of the subclassing fixes, but we want to be sure that this bug does not occur in whatever the text ends up being.

[2013-10-28 06:45] #36 closed, assigned to domenic

[2013-10-28 06:45] #53 closed, assigned to erights

[2013-10-28 06:45] #60 closed, assigned to domenic

[2013-10-28 06:45] domenic commented on #54
Fixed by 002ec7a25a97c70eb131096bd3f39da26c6d87c4 and subsequent commits.

[2013-10-28 06:45] #54 closed, assigned to erights

[2013-10-28 06:46] domenic commented on #49
Fixed by tonight/this morning's commits.

[2013-10-28 06:46] #49 closed, assigned to domenic

[2013-10-28 06:46] domenic commented on #34
Fixed by tonight/this morning's commits.

[2013-10-28 06:46] #34 closed, assigned to domenic

[2013-10-28 06:46] domenic commented on #37
Fixed by tonight/this morning's commits.

[2013-10-28 06:46] #37 closed, assigned to domenic

[2013-10-28 06:55] #56 closed, assigned to domenic

[2013-10-28 07:28] domenic opened #62 "Deduplicate thenable coercion, and bring back thenable coercions weak map"
The code of ThenableToPromise and Promise Reaction Functions both does a form of thenable coercion:
- The former tries to coerce thenables straight-up into promises, so that its caller can use a trusted promise `then` or just pass the value on through.
- The latter tries to send a "then" message to the return value of [[Handler]] using deferred.[[Resolve]] and deferred.[[Reject]] as the parameters

[2013-10-28 07:29] domenic commented on #61
Closing in favor of the work going on in #62.

[2013-10-28 07:29] #61 closed, assigned to nobody

[2013-10-28 07:30] domenic commented on #39
Closing in favor of the work going on in #62. See https://github.com/domenic/promises-unwrapping/tree/bring-back-thenable-coercions#the-thenable-coercions-weak-map for my new take on how to specify this. I anticipate using the caller function's [[Realm]] internal property as the first argument to ThenableCoercionsGet/ThenableCoercionsSet.

[2013-10-28 07:30] #39 closed, assigned to allenwb

[2013-10-28 07:46] domenic opened #63 "`Call` is kind of hacky/poorly named"
I added [Call](https://github.com/domenic/promises-unwrapping#call) because I had a lot of steps that were trying to call user functions that might throw an exception, and it was verbose to repeat those steps over and over.

It's not great though; it probably doesn't belong as a delta in the completion record section, at the very least.

I couldn't think of a more generic and useful abstraction fo

[2013-10-28 07:50] domenic opened #64 "Formalize "queue a microtask""
Will want to harmonize with @dherman and @jorendorff's work on the module loader spec and whatever hook they're using there.

My current approach is that sometimes I say "queue a microtask to do the following" and then start a new indentation level of numbered list. Everything inside there is assumed to take place in a new microtask.

Note that steps inside there can throw exceptions, which I expe

[2013-10-28 15:02] jorendorff commented on #64
On Mon, Oct 28, 2013 at 12:50 AM, Domenic Denicola <notifications@github.com

Timely mail! We are furiously specing the loader. TBH promises are further
along and we were not going to come to this pass for a few days yet.

I think @dherman wanted to avoid nested lists, in favor of language like
"Queue a microtask to call Whatever(arg1, arg2)." and then you write a
separate abstract operation below

[2013-10-28 15:06] domenic commented on #64
Haha, yes, I so agree! But, I can perhaps spare you this pain: you could just cast the returned object to a promise instead, using my spec hooks!

What behavior would be most helpful?
- Something that takes a scalar or a thenable, and returns either a promise for that scalar or a coercion of that thenable to a promise?
- Or something that takes a scalar or a thenable, and returns either that scala

[2013-10-28 16:56] jorendorff commented on #64
The former.

This is a bit of a miracle in terms of the effect it will have on our code. Thanks, Domenic.

[2013-10-28 17:05] domenic commented on #64
Excellent, that's just what I'm currently calling `Promise.cast`. I'll extract that out into a ToPromise abstract operation you can use.

[2013-10-28 17:19] allenwb commented on #64
I agree, no nested algorithms.  Where those occur today(in RegExp) they're really hard to understand.

I suggest going one step further than Jason's suggestion.

Actually define an abstraction called a "Microstak".  eg

1.2.3 Microtask Whenever(arg1, arg2)
   steps...

We will then have an abstraction operation QueueMicrotask(task, argumentList)

and you an call it as:
1.  Perform QueueMicrotask(W

[2013-10-29 16:36] rossberg opened #65 "[[PromiseConstructor]] vs .constructor and instanceof"
I wonder why we need [[PromiseConstructor]]. Wouldn't it be more consistent with JavaScript mechanics to stick to .constructor? The information is not used for branding, so being overly defensive shouldn't be necessary here.

Moreover, why does Promise.cast compare against that constructors for equality? Wouldn't it make more sense to do an instanceof check? That is, if x already has a "subtype" o

[2013-10-29 16:38] rossberg opened #66 "Default handler arguments on .then"
Why do the handler arguments to the .then method default to the internal resolve/reject functions? That seems rather weird, since the respective one will now be called twice, the second time with undefined as the (redundant) resolution value/reason.

Why don't the handlers simply default to empty functions?

Alternatively, the spec could make sure to simply not queue omitted handlers.

[2013-10-30 01:14] domenic commented on #65
The idea of `Promise.cast` is to be able to give you a high-integrity version of an untrusted promise. So the instanceof check is not what you want, because you want to be able to do stuff like:

[code]

If `Promise.cast` did an instanceof check, it would return `thing` straight away, and you would end up logging "2" then "1" instead of the desired "1" then "2". By securing `Promise` and then usin

[2013-10-30 01:23] domenic commented on #66
Right, I believe this arose evolutionarily. Your original code did not account for non-callable `onFulfilled` or `onRejected` arguments, so my first fix was to pass in a "fallback handler" and, if the relevant handler was non-callable, use that. (Some kind of handler is necessary to make `fulfilledPromise.then(undefined, e => console.error(e)).then(v => console.log(e))` work; otherwise the interme

[2013-10-30 01:28] domenic opened #67 "Clean up testable implementation"
- [x] Create a subfolder and move it relevant files in there (run-tests.js, testable-implementation.js, and maybe package.json).
- [x] Separate out testable-implementation.js into more modules that import each other, possibly using the headings as a guide.
- [x] Separate out test runner from the (non-Promises/A+) tests themselves.
- [x] Add a README to this subfolder to explain the requirements an

[2013-10-30 01:29] domenic opened #68 "Add more tests for the API surface"
Currently only `then` and `all` have tests, really. (The former via the Promises/A+ tests.) Some of the other methods are tested implicitly by the `all` tests. But a deeper and more unit-test level coverage of things like `resolve`, `reject`, `cast`, and `race` would be good, and would help contribute to test-262 eventually.

[2013-10-30 01:31] domenic opened #69 "Convert tests to test-262 form"
test-262 doesn't currently do async tests, I believe, but assume a simple modification.

This is ambitious, especially for the Promises/A+ tests.

It may help to write a node test runner for test-262 tests.

[2013-10-30 16:00] cowwoc opened #70 "Long stack traces"
Does the spec support "long stack traces" as defined by https://github.com/kriskowal/q#long-stack-traces? If not, I believe it's essential for troubleshooting to add this feature. If it can be implemented efficiently by browsers, then it should be on by default, otherwise it can be disabled by default, but either way the feature be required.

[2013-10-30 16:03] domenic commented on #70
Yeah, there should be nothing preventing browsers from implementing this. Language-level specs don't generally govern debugging experiences, so it's not something we'd explicitly include here, but you're right to be sure it's at least possible.

[2013-10-30 16:10] cowwoc commented on #70
Okay. I've opened https://code.google.com/p/chromium/issues/detail?id=313297 so you can close this issue.

[2013-10-30 16:19] #70 closed, assigned to nobody

[2013-10-30 19:34] rossberg commented on #65
On 30 October 2013 02:14, Domenic Denicola notifications@github.com wrote:

I admit that I'm at a bit of a loss what the specific scenario is where
high integrity would matter. Why is there a desire for promises to natively
support higher integrity than every other class in the language? (Of
course, nothing keeps a secure library from providing that itself. You can
implement a "secure" cast yourse

[2013-10-30 19:39] domenic commented on #65
I don't understand. I gave an example of attempting to perform a downcast from a bad subclass to a trusted base class, and then showed how if you switched to instanceof, that would not work.

For upcasts, `Promise.cast` has a different use: e.g. doing `CancellablePromise.cast(nonCancellablePromise).cancel()` should work, since it upcasts from a base promise which does not have a `cancel` method to

[2013-10-30 20:38] rossberg commented on #65
On 30 October 2013 20:39, Domenic Denicola notifications@github.com wrote:

But in any case, I fail to see what you've won with the cast in your
example. Once you invoke .then on the new promise that will rely on calling
.then on the original promise anyway. And that is still broken.

For upcasts, Promise.cast has a different use: e.g. doing

 I admit that I'm at a bit of a loss what the specific

[2013-10-30 21:48] erights commented on #65
Hi Andreas, protection from plan interference attacks has always been a major purpose of this non-blocking style of promises starting from their invention in E. See chapter 13 of my thesis and http://www.infoq.com/presentations/Secure-Mashups-in-ECMAScript-5 , slides at https://es-lab.googlecode.com/files/RemainingHazardsAndMitigatingPatterns.pdf , where the relevant attack and defense starts at s

[2013-10-30 21:55] domenic commented on #65
Apologies for the terminology confusion. But, the key point here is "real" promises guarantee that their handlers will execute in future terms, no matter how bad the thenable they are resolved to is. So in my original example, `Promise.cast` as currently specified will ensure you log "1" then "2".

[2013-10-30 22:40] ForbesLindesay commented on #69
+1 for building a node runner for test-262 tests

[2013-10-31 02:37] cowwoc opened #71 "What happened to Promise.done()?"
Was the function renamed or is this functionality missing?

[2013-10-31 08:00] medikoo commented on #71
If you mean `Promise.prototype.done`, see hot discussion here: https://github.com/domenic/promises-unwrapping/issues/19

[2013-10-31 08:27] cowwoc commented on #71
Dear god. Okay, I'll close this issue now :) Thanks for the heads up.

[2013-10-31 08:27] #71 closed, assigned to nobody

[2013-10-31 10:08] rossberg commented on #65
On 30 October 2013 22:48, Mark S. Miller notifications@github.com wrote:

1. The feature is clearly useful _independent_ of more comprehensive
   security frameworks.
2. The feature cannot be implemented reliably or efficiently in such
   frameworks.

I'm still having difficulties seeing how either of these is the case.

/Andreas

[2013-10-31 12:28] erights commented on #65
Why are encapsulation, modularity, abstraction, defensive programming useful independent of more comprehensive security frameworks? Why have lexical scoping, Object.freeze, deterministic WeakMaps, invariant-preserving direct Proxies etc, run-to-completion turns? Many of the improvements to modern ES starting with ES5 came from trying to move it towards those reliability and integrity lessons that

[2013-10-31 15:56] rossberg commented on #65
On 31 October 2013 13:28, Mark S. Miller notifications@github.com wrote:

Well, you know that I'm all for that. However, at the class level
JavaScript does not provide much safety at all. For classes, you always had
to program it yourself, or rely on some additional framework -- and the
features you list guarantee that you can. My question essentially is what
is inherently different about this par

[2013-10-31 23:52] domenic commented on #65
Sounds like we've mostly reached an understanding here. If I may, one parting characterization of the situation that may help @rossberg-chromium:
- You want some method that ensures what you have is always thenable, so that you can access its value through `then` instead of writing different consumption code for already-available values as you do for not-yet-available values.
- `Promise.resolve` w

[2013-10-31 23:52] #65 closed, assigned to nobody

[2013-11-01 19:20] bryanforbes opened #72 "Infinite loop"
While writing a TypeScript implementation of this spec using both the spec and the testable implementation for guidance, I found an infinite loop when calling a promise's resolver with itself. The testable implementation has the following code in the reaction function returned from `make_PromiseReactionFunction`:

[code]

However, by the time these lines are encountered, the following has already

[2013-11-01 19:30] kriskowal commented on #72
Thanks @bryanforbes. This issue duplicates, #223, which is closed. If you search for `ViciousCycle` in `q.js` on `master`, you’ll find how we deal with this problem now, based on @erights solution in `makeQ.js` for Caja/SES.

If you have time to do us a favor, please do verify that it works. I am going to leave this open to track “Add test case for vicious cycle detection”. It seems I neglected it

[2013-11-01 19:32] domenic commented on #72
Haha @kriskowal wrong repo I think :).

@bryanforbes excellent find, thank you. Perhaps related to some recent comments by @rossberg-chromium. This also means the Promises/A+ tests are not doing their job; I will file a bug over there.

[2013-11-01 19:32] kriskowal commented on #72
@domenic Yeah, already caught and left an edit note. Sorry for the noise.

[2013-11-02 22:25] domenic commented on #72
This would be by far easiest to fix if I was allowed to fail at resolution time. However, I am not sure this is OK with the monad contingent, as monads wrapping themselves seems valid. @rossberg-chromium, @tabatkins, @samth can you confirm one way or the other?

The behavior I am proposing is:

[code]

Assuming the above is not OK, I will need to track more internal state and jump through a few mo

[2013-11-02 23:03] samth commented on #72
@domenic I'm confused about your code example in the last comment (why would that do anything other than try to call `undefined` as a function?) but there's no reason why these kinds of programs make any sense, and there shouldn't be any problem in disallowing them.

[2013-11-02 23:11] domenic commented on #64
@jorendorff Extracted CastToPromise(_C_, _x_). You will probably be doing CastToPromise(%Promise%, _x_).

[2013-11-02 23:14] domenic commented on #72
@samth `resolve` gets set to `p`'s resolve function one the second line.

[2013-11-02 23:51] erights commented on #72
Failing at resolution time doesn't generalize to the distributed case. In the distributed case, all the local resolutions needed to form a distributed loop can happen before any of the participating machines can know they are in a loop. The current makeQ behavior is consistent with CapTP, and with what's possible in a distributed system: All the promises which come to be promises for themselves ev

[2013-11-02 23:53] erights commented on #72
Ah, but I see your point regarding the monadic layering. I do not know what to do about that.

[2013-11-02 23:58] samth commented on #72
@erights There's no problem with "monadic" layering here -- if you think about Promise<C> as a way to eventually get a C (which is the heart of what you refer to as the "monadic" position), then this issue is about promises in which there is no underlying value there, and thus doesn't even make sense.

[2013-11-03 00:00] domenic commented on #72
I was under the impression the monad people considered array to be a monad, and `var a = []; a[0] = a` seems fine.

[2013-11-03 00:02] samth commented on #72
Array is a monad only if you're thinking about a certain subset of its operations, which wouldn't let you construct that.

[2013-11-03 02:05] erights commented on #72
Hi Sam, I don't understand your answer but it probably doesn't matter. As long as we're all happy with the "cyclic promise eventually becomes rejected" position, great.

[2013-11-04 12:10] jakearchibald commented on #18
Another use-case for this is hiding a spinner after a network request succeeds or fails https://gist.github.com/jakearchibald/785f79b0dea5bfe0c448

[2013-11-04 18:08] kriskowal commented on #18
@jakearchibald Thanks. I often use `finally` for test teardown…

[code]

[2013-11-04 18:18] tabatkins commented on #72
We don't "consider it to be a monad", it _is_ a monad by the definition of monads (as soon as you define a flatMap() function that acts correctly), in the same way that it's an iterable by the definition of iterables - "monad" is just a typeclass, or an interface, or whatever your personal lexicon calls that kind of thing.  ("Monad" is just a more advanced form of "Mappable", the interface for any

[2013-11-04 19:38] jorendorff commented on #64
Hmm. Does this operation try to handle user-implemented thenables at all? I think we want to support them, but with some care.

[2013-11-04 19:43] domenic commented on #64
It does; they are wrapped in a real promise, and calling `.then` on the resulting real promise will trigger the thenable's `then`, but enforce all promise-related guarantees (e.g. handlers will be called asynchronously).

[2013-11-04 23:13] jorendorff commented on #64
Where is that implemented? Sorry, I'm looking at README.md and I see the CastToPromise operation, but I don't see where it checks IsThenable(x) or how it produces the true-Promise wrapper.

[2013-11-04 23:41] domenic commented on #64
If `IsPromise(x)` is false (which will be the case for thenables), it creates a new promise from the `C` parameter and resolves it to `x`.

[2013-11-05 16:45] jorendorff commented on #64
Oh, OK. So this is just the same behavior as what happens when a function that's an argument to Promise.prototype.then returns. Great. Thanks.

[2013-11-09 12:53] jorendorff opened #73 "Add spec entry points that don't trigger user code"
At the moment, the Loader draft spec is using these APIs:
- `new Promise`
- `Promise.resolve`
- `Promise.all`
- `Promise.prototype.then`
- `Promise.prototype.catch`

We need equivalents that users can’t sabotage by messing with `Promise.@@create` and `Promise.prototype`. Most of the promises we create are implementation details and users should not be able to observe their existence, much less dis

[2013-11-09 16:10] erights commented on #73
I am so glad to hear this. It is great news that we'll need support for high integrity promises asap. I was very nervous that if we were only trying to pave the way for high integrity later, that we might get things wrong.

I suggest you do what SES will need to do: create a separate realm with normal promises, and then as-if run an initialization script that freezes the primordials. The loader's

[2013-11-09 16:16] domenic commented on #73
@allenwb, I thought there was some "use the original value of X" in the spec, but I cannot find anything now.

[2013-11-09 16:27] allenwb commented on #73
I don't think that this is the sort of design issue that needs to be taken to the committee, unless some controversy develops.

Those APIs should be easy, it's just a matter of defining abstract operations that encapsulate the specification of the functionality you need to use.  If it is the same as the (part) of the spec. of a user callable method then typically we would refactor so that the meth

[2013-11-09 16:31] allenwb commented on #73
@domenic I have pretty much purged all of that language from the spec.  In some cases it is replaced with named references to intrinsic, eg %ArrayPrototype%.  But in many cases it has been replaced with direct references to the appropriate abstract operations.

[2013-11-10 18:15] jorendorff commented on #73
@domenic For example, evaluating an ArrayLiteral, like `[1, 2]`, is no longer specified in terms of `new Array` or `%Array%.[[Construct]]()` or anything like that. Instead, it calls [ArrayCreate](http://people.mozilla.org/~jorendorff/es6-draft.html#sec-arraycreate) which is like `new Array` but doesn’t invoke `%Array%[@@create]`.

[2013-11-10 18:25] jorendorff commented on #73
@allenwb It is possible to specify the loader with or without using Promises internally. I've implemented it both ways now (in JS, not in EcmaSpeak).

Using Promises is more consistent and reads better, because the API is all asynchronous using Promises anyway. It's also less code—but that is partly because JS has pretty nice support for closures (EcmaSpeak sort of doesn’t).

[2013-11-11 14:16] rossberg commented on #72
[Sorry for the delay, I was on vacation.]

If we want to detect cycles then this should not happen on the resolution side, but on the chaining side, since it depends on what chaining semantics you pick (flatMap vs then). Also, it is fine for a promise to be resolved with itself, but not with its own _content_ -- an important distinction!

More specifically, I expect the following behaviour, dictat

[2013-11-13 17:11] domenic opened #74 "Remove `Invoke` usage"
It died recently.

[2013-11-13 17:18] stefanpenner commented on #74
rip

[2013-11-13 20:00] allenwb commented on #74
Note that the absence of the Invoke abstract operation in Rev 21 is a bug. It will be back in Rev 22 so you should feel free to use it.  Only the [[Invoke]] internal method has died

7.3.10  Invoke(O,P, [args])
The abstract operation Invoke is used to call a method property of an object.  The operation is called with arguments  O, P , and optionally args where O serves as both the lookup point for

[2013-11-13 20:04] domenic commented on #74
Oh, well, in that case we're fine; we only use the `Invoke` abstract operation. Thanks @allenwb!

[2013-11-13 20:04] #74 closed, assigned to nobody

[2013-11-14 13:22] juandopazo opened #75 "Promise.race with empty lists"
At the moment `Promise.race([])` returns a forever pending promise. Is that a good idea? It sounds like a potentially hard problem to debug. Should it be rejected instead?

[2013-11-16 21:23] domenic commented on #75
I will defer to @erights, our `Promise.race` champion.

[2013-11-17 01:34] #72 closed, assigned to domenic

[2013-11-17 03:29] #63 closed, assigned to allenwb

[2013-11-17 03:41] erights commented on #75
Hi @juandopazo , I do see both sides of this. There is a pros and cons in each direction. It comes down to a judgement call. Consistency argues for the status quo -- which has nice algebraic properties. Racing races is associative and commutative, and racing the empty list, i.e., a promise that never resolves, is the identity element.

[code]

Although all is not associative or commutative, if we

[2013-11-17 03:41] #75 closed, assigned to erights

[2013-11-17 04:08] allenwb opened #76 "Terminology: overuse of "resolv*""
The formal parameter of the Promise constructor is called "resolver" and it's value is a a function with a two formal formal parameters resolve and reject. The over use of resolve-rooted words make it difficult to write a comprehensible prose description of the Promise constructor.

Is resolver really the best name for the constructor's parameter?  Isn't it the job of that function to initiate the

[2013-11-17 04:17] domenic commented on #76
"Resolver" is the traditional name (via a discussion @wycats and I had, actually), but I see your point. Since it doesn't impact much, I don't have a problem changing it if others agree. Tagging in @promises-aplus people here.

To explain why "resolver" is traditional: it's the function that's given the ability to resolve the promise, i.e. it is the thing that resolves.

[2013-11-17 04:27] erights commented on #76
I have also always disliked "resolver" as the name for this function. To me, informally, the "resolver" remains the short noun for talking about "the resolve function". I have not previously raised it because I don't have a suggested alternative. "initiator" is not great, but it is better than the status quo.

[2013-11-17 04:31] #62 closed, assigned to domenic

[2013-11-17 04:33] allenwb commented on #76
Since it both initiates and resolves we might consider "manager" but that's one of those generic words that is best avoided.  I think I'm going to name the parameter "initiator" unless somebody thinks of something better.

[2013-11-17 04:51] #64 closed, assigned to domenic

[2013-11-17 04:52] domenic commented on #64
@allenwb I followed your strategy. It turns out only a single microtask was necessary. Let me know what you think. The spec delta for the `QueueMicrotask` function is also kind of sketchy, so revisions welcomed there.

[2013-11-17 04:53] domenic commented on #33
@allenwb doesn't seem to care much one way or another; closing. Feel free to reopen, @allenwb.

[2013-11-17 04:53] #33 closed, assigned to allenwb

[2013-11-17 05:05] #66 closed, assigned to domenic

[2013-11-17 05:44] domenic commented on #73
@jorendorff I ran out of time to do this today, but you can anticipate the following, maybe tomorrow:
- `new Promise` -> `PromiseCreate(resolver)`
- `Promise.resolve` -> `PromiseFor(x)`
- `Promise.prototype.then` -> `PromiseThen(promise, onFulfilled, onRejected)`

`Promise.prototype.catch` just consists of passing in `undefined` as `onFulfilled` when calling `PromiseThen`.

Also, it looks like you

[2013-11-17 10:45] petkaantonov commented on #75
@erights I disagree. API should not prefer some invisible theoretical consistency. It is in most cases almost surely a bug in code  if `.race` gets called with an empty array - I don't see anyone at that point saying "ah this was hard to debug but after thinking about it, at least it's consistent when comparing racing races and alling alls".

[2013-11-17 16:32] jorendorff commented on #73
Right now I'm using PromiseThen more or less exactly as proposed, because it practically always wants closures, which is to say, anonymous functions.

But you're right, I don't really know if that's the most sensible thing and we'll see.

[2013-11-17 16:34] jorendorff commented on #73
I could get rid of Loader.js's use of Promise.all and replace it with a counter. I don't need the results, I just need to do more work when all the Promises are resolved, and propagate the error if any fail. But that's most of the work Promise.all does. Hmm.

[2013-11-17 17:29] domenic commented on #73
I don't think so. With the simplifying assumptions we have so far (List, not potentially exception-ey iterable; only-spec-promises, not thenables or scalars; results not needed; does not need to be generic in `this`) it'd be a much simpler function. One of us can spec it and see how it goes.

[2013-11-17 18:57] kriskowal commented on #75
I agree with @erights. Algebra informs my intuition about the behaviors of functions, cultivated by `reduce`, `Math.min()`, and `Math.max()`, and I would expect the degenerate case to be consistent with @erights interpretation.

[2013-11-18 12:09] juandopazo commented on #75
Yes, I like the reasoning.

[2013-11-18 22:03] wycats commented on #76
I don't think `initiator` makes sense here (what does it mean?). The name "resolver" isn't great, but it's better than anything else I've heard.

[2013-11-18 22:11] erights commented on #76
Naming rationales:

In favor of using "resolver" as the noun for the resolve function:
    \* It provides the power to resolve (the corresponding promise)

In favor of using "resolver" as the noun for the function provided to the constructor
    \* It has the power (and responsibility) to resolve...

I can see it either way. And I don't like initiator. Sigh.

[2013-11-18 22:42] allenwb commented on #76
@wycats
the argument to the Promise construction is the function that "initiates" the computation whose value the promise will eventually represent, eg the first line of the passed function below "initiates" an async read of a file:

[code]

the function that is passed is no more a "revolve" than it is a "rejector" and as I said at the start of this thread it is almost impossible to talk about a f

[2013-11-18 22:48] domenic commented on #76
Although this is no longer true at the level of the spec, rejecting is a subset of resolving, from the user's point of view. `reject(r)` is syntactic sugar for `resolve(Promise.reject(r))`, in that the user-observable effects are indistinguishable.

Thus the reason all existing libraries are calling it "resolver."

[2013-11-22 11:01] rossberg opened #77 "Thenable coercion should use thenable.then(deferred.resolve, deferred.reject), not deferred.resolve(thenable)"
I cannot make any sense of the change that is supposed to fix issue #62. Especially, in the new step 3.i, you resolve the current promise with the coerced one as its _value_? That doesn't seem to make sense, you have to invoke its chaining method, just like in the case where lookup fails.

Also, you enter _every_ thenable into the coercion map, even ones that are promises already. Is that intentio

[2013-11-22 15:26] domenic commented on #77
Thenables are demonstrably not broken, as all the passing the tests show.

Resolving a promise to another promise essentially makes it behave as that promise, so I don't see the problem. All the tests pass; could you give an example of a test that fails?

Hmm, it looks like only one of the calls to UpdateDeferredFromPotentialThenable is guarded by IsPromise beforehand. That is probably a bug.

[2013-11-23 07:59] rossberg commented on #77
They only behave "as that promise" wrt to consecutive .then, not wrt .flatMap. In other words, this breaks the internal invariants necessary for interop. Consider:

[code]

As far as I can see, line (1) will result in printing "5" as expected, but the second time round in line (2) the same code would suddenly print "[object Object]" (because what the second print gets is actually the promise creat

[2013-11-23 19:00] domenic commented on #77
Ah, you're right, certainly. I am not used to thinking on the monad level, only the promise level. Thanks for the correction; it should be a pretty straightforward change.

I agree it's annoying and have tried to consolidate it over time into UpdateDeferredFromPotentialThenable. But it is necessary, since `then` needs to do unwrapping both on the input side (unwrapping the internal resolution valu

[2013-11-23 21:27] Raynos commented on #24
@domenic

The problem with trapping these non recoverable errors is (syntax errors, typos, null references, invalid arguments) a lack of a catch all.

Having build a large app with a system that captures all errors & boxes them I kept forgetting to add error handlers to things which I can't recover from because that's not a natural programming flow. The problem then became my entire app stopped wo

[2013-11-24 17:06] tabatkins commented on #24
Depending on exactly what you mean, yes.

[code]

[2013-11-24 17:17] stefanpenner commented on #24
@Raynos

In RSVP we have something somewhat like `window.onerror`.
It has one caveat, it can report false positives. Such as if rejections are handled asynchronously, they will still trigger this handler.

[code]

In practice the increased visibility is well worth it the odd false positive, especially in development.

[2013-11-24 19:40] Raynos commented on #24
@stefanpenner I don't mind false positives. Handling rejections asynchronously is not a use case I cater to.

Is something like `RSVP.on('error')` easy to implement in user land for arbitrary promises.

[2013-11-24 21:20] stefanpenner commented on #24
@Raynos Ya its pretty simple. poke around -> https://github.com/tildeio/rsvp.js/blob/master/lib/rsvp/promise.js

[2013-11-24 21:41] Raynos commented on #24
@stefanpenner I mean can we add it to native promises where we can't hook into the machinery.

[2013-11-24 22:46] stefanpenner commented on #24
@Raynos ah, no.

[2013-11-25 12:00] medikoo commented on #24
To me that's not acceptable. Only real errors should be reported, false positives are noise in console we definitely don't want to see and deal with.

Error reporting should be strict, as it's in any other JS API, and we can have it only with `Promise.prototype.done`, with which you explicitly state the intent of not extending further promise chain.  Check long discussion under #19 about that (abo

[2013-11-25 13:01] petkaantonov commented on #19
How is `.done()` (without arguments) not just a `.catch(thrower)`.. so just do:

[code]

[2013-11-25 13:05] juandopazo commented on #19
If your thrower function is making sure the exception gets thrown, the only difference is that `done` shouldn't return a new promise becaus it's not a mapping operation.

[2013-11-25 13:05] petkaantonov commented on #19
Yes I removed the `return`

[2013-11-25 13:11] medikoo commented on #19
@petkaantonov `catch` is just sugar over `then`, and you should also explain what's `thrower` in your sample, as I assume it's nothing provided by the standard.

`promise.done(processValue)` vs `promise.then(processValue).catch(thrower)`, latter ugly as hell, produces 2 obsolete promises (not needed for anything), and error is exposed next tick later than in case of `done`.

[2013-11-25 13:18] petkaantonov commented on #19
My point was that `.done` without arguments is trivially implementable even if it's not provided out of the box. Also what difference does it make if your server crashes with a 3 micro second "delay"?

[code]

[2013-11-25 13:28] medikoo commented on #19
@petkaantonov Issues are
1. Cleanness of code, need to put `catch(thrower)` at end of each promise chain. We really don't want to do that, and mind we need to provide `thrower` ourselves.
2. Obsolete promises created for no valid reason, that affect performance (speaking to performance purist ;-)
3. Next tick error resolution is just another dirty aspect of it.

[2013-11-25 13:54] petkaantonov commented on #19
You _can_ just put `.done()` since you can just add it to prototype (aren't they a wonderful thing). Although `.catch(thrower)` actually says what it does but whatever.

A chain of promises requires creation of closures due to unutilized `this` so the created promise object is literally a drop in the ocean.

[2013-11-25 14:16] medikoo commented on #19
That's not possible. You can cleanly implement `then` over `done` but not the other way. You can try to mimic `done` behavior on top of `then` as you suggest, but that's far from perfect, it's a poor man's solution.

[2013-11-25 15:29] ForbesLindesay commented on #19
Yes, user's can add their own `.done` method, no that does not mean it should not be in the spec.  It has already been well proven in user space.  We know it is useful, so it is ready to be specified and then implemented.

[2013-11-25 15:33] stefanpenner commented on #24
@medikoo the method described also catches the places where you forgot to `done` or chain correctly. Increasing visibility, even with the VERY infrequent false positive, especially during development has been a massive improvement in developer ergonomics.

[2013-11-25 15:42] medikoo commented on #24
@stefanpenner I don't see how reporting false positives among real errors can improve development. Doesn't sound logical at all.

Also once you understand how `done` works, it's not the thing you can forget. It becomes first choice function (same as `forEach` is first choice over `map` in case of array iteration).

[2013-11-25 15:53] stefanpenner commented on #24
@medikoo if you have used this approach you would realize it is quite valuable. The only false positive is asynchronously handled rejections where `reason instanceof Error === true`  which is defiantly not a common scenario.

Also I fully understand how `done` works, and this is not a good comparison.

[2013-11-25 16:05] medikoo commented on #24
@stefanpenner I use `done` so I don't have a problem of unhandled errors that are not exposed.

[2013-11-25 16:21] stefanpenner commented on #75
This makes me sad. But i'll be even more sad when the first time i need to debug this scenario.

[2013-11-25 16:54] stefanpenner commented on #24
what you just said is essentially: “I don’t make mistakes, and by not making mistakes I don’t have the problem of fixing or diagnosing mistakes" so you have missed the point..

[2013-11-25 17:01] medikoo commented on #24
@stefanpenner I don't see how you get that. I stated that all my errors (mistakes) are exposed naturally, as I use `done`. I don't have problem of them being not exposed.

[2013-11-25 17:04] stefanpenner commented on #24
[code]

done didn't help.

[2013-11-25 17:15] medikoo commented on #24
@stefanpenner  This example doesn't make much sense. If someone writes `promise.then(function (obj) { obj.then(...); }` it means, he doesn't have a clue how promises and `then` works.

Still, as you used `done`, proper error would be exposed to end user, it'll most likely be: _Object response has no method 'then'_.

[2013-11-25 17:24] Raynos commented on #24
@medikoo

Then use maybes or monads or never throw exceptions which all have deterministic error behaviour.

`.done()` only works if a) you never forget it. or b) the promise is lazy until you call `.done()` i.e. you won't get the value OR the error until you do `.done()` otherwise you still run into the problem of swallowed syntax errors.

[2013-11-25 17:25] Raynos commented on #24
I did think of a better idea. The debugger tools in chrome currently allow you to "pause on all exceptions" and "pause on uncaught exceptions".

If it has the ability to "pause on all rejections" and "pause on unhandled rejections" then that would give me the error visibility I want.

[2013-11-25 17:35] medikoo commented on #24
@Raynos

You don't forget `done` same as you don't forget to use `forEach` on array. You use it, or don't use it, that's it.

The only mistake you can do, is to use `then` where you actually should use `done`, but I don't remember doing such mistake on my side. Once you get it how works it's not the mistake you would do.

.. and there's no _or_, all other solutions are unnecessary complex and impe

[2013-11-25 17:52] Raynos commented on #24
@medikoo in that case I would just never use `then` and only use `done`. that also solves the problem. That way a promise becomes lazy until you call `.done()`.

Of course you still have the issue of 3rd party code authored by not yourself using `then()` or hiding / swallowing exceptions or forgetting to use `.done()`. Just like you have the problem of 3rd party code in the node community throwing

[2013-11-25 18:17] medikoo commented on #24
`then` is important as well. It just should not be overused, and not treated as first-choice function.
Best way to approach it, is to start learning promises from `done` and after having that sound, move to `then` as a more sophisticated option when mapping is needed.

Expectations I have is that errors handling is transparent, and that we have full control over it (as in every other JS API). No b

[2013-11-25 18:26] stefanpenner commented on #24
@medikoo you have described my exact point. People unfamiliar with some semantics pay a huge price, developer ergonomics is very important, especially as new users begin to use promises. In addition, even experienced individuals will make mistakes. My above suggestion provides visibility for such mistakes.

[2013-11-25 19:18] spion commented on #24
How about a lint tool that warns of `ExpressionStatement`s that consist of `(AnyExpression).<then|spread>(x);` and tells you to use `.done` at the end of the chain? That should be able to capture most common cases where people forget to use `.done`...

[2013-11-25 19:47] Raynos commented on #24
@spion `return x.then(...)` is an expression without `.done()` but not a bug.

[2013-11-25 20:04] medikoo commented on #24
`return x.then(...)` is perfectly valid, but `; x.then(...);` is clearly wrong, and indeed lint tools can be programmed to warn about that.

[2013-11-25 21:21] spion commented on #24
@Raynos thats not an ExpressionStatement, its a ReturnStatement. (I'm using the AST node names that Esprima is using, don't know whats the correct name - sorry)

[2013-11-25 22:30] spion commented on #24
Here is a toy I quickly hacked together to play with - [thenlint](https://github.com/spion/thenlint) - also avaialble via `npm install -g thenlint`

Works with globs (including double-star glob) so it should be relatively easy to check large codebases...

Edit: now it also supports basic detection of broken chains (forgetting to return from within a function expression passed to .then)

[2013-11-27 20:17] domenic opened #78 "Promise Reaction Functions and Promise Resolution Handler Functions don't need to be real functions"
As discussed over email with @allenwb, it is not a good idea to specify creation of unobservable function objects. Instead we should revert to the earlier strategy (pre 002ec7a25a97c70eb131096bd3f39da26c6d87c4) of passing around records.

As he says:

We can probably also eliminate Identity Functions and Thrower Functions by passing around flags (this'll get ugly).

I do not believe this has any n

[2013-11-27 20:24] domenic opened #79 "Thenable coercion weak map logic is still not quite right"
- As pointed out in #77, only one of its two entry points is currently guarded by an IsPromise, which is inconsistent and bad. So in some cases real promises get into it and sometimes they don't.
- Why are we handling real promises differently from thenables in the first place? Real promises can have their `then` methods overriden to do unspeakable things anyway. I am pretty sure (but should check

[2013-11-27 20:27] domenic commented on #77
I have renamed this issue to reflect the main bug at hand, and created a new issue, #79, to track the issues with the thenable coercion weak map. This issue should be a trivial fix, but #79 is harder.

[2013-11-28 01:47] #77 closed, assigned to nobody

[2013-12-01 06:25] domenic commented on #73
@jorendorff per recent discussions it sounds like this may be less necessary?

[2013-12-01 15:17] jorendorff commented on #73
This is still necessary. CastToPromise is the thing I'm no longer using.

[2013-12-02 14:08] juandopazo opened #80 "Promise.deferred()?"
The only use case I can think of the current API doesn't address is handing out the capability to resolve/reject a promise. We can of course do:

[code]

...but it's a bit awkward. Should we add `Promise.deferred` exposing `GetDeferred`?

[2013-12-02 14:25] domenic commented on #80
The reasoning behind not adding deferreds is that they are usually are [an anti-pattern](https://github.com/petkaantonov/bluebird/wiki/Promise-anti-patterns#the-deferred-anti-pattern) and, even worse, an extra concept to learn. They’ve proven troublesome in user-space, and the promise constructor has proven to be a great fix. The only reason the spec uses it so much is because creating closures in

[2013-12-02 14:25] #80 closed, assigned to nobody

[2013-12-02 14:35] petkaantonov commented on #80
I should really change the rantish and hostile tone in that article :D

[2013-12-02 14:39] juandopazo commented on #80
I totally share the sentiment of that article, but the bad practice still happens with the promise constructor. It just looks like this:

[code]

[2013-12-02 15:41] stefanpenner commented on #80
@juandopazo or

[code]

or with something like `Promise.method`

[code]

Additionally, the Promise constructor approach catches exceptions and propagates them as one would expect.

[2013-12-02 15:45] domenic commented on #80
This is one of the stronger arguments against deferreds, in practice.

[2013-12-02 15:46] juandopazo commented on #80
That´s a good point.

I guess sharing `resolve` is an obscure enough practice so adding a shorthand could do more harm than good.

[2013-12-02 15:57] stefanpenner commented on #80
@domenic ya.

Additionally, it appears that modeling the promise as the thing that is the potential future value results in much more understandable and maintainable code. Using a deferred seems to almost always spiral away from this. Nearly each time I see a deferred used, it is being used as a lock/semaphore and in practice this seems to result in very hard to digest patterns.

[2013-12-02 16:01] juandopazo commented on #80
Same here. I haven't found it hard to digest in the cases I ran into, but it's definitely not a good idea.

[2013-12-02 16:01] erights commented on #80
Hi Stefan, could you give an example of using a deferred as a
lock/semaphore? Thanks.

On Mon, Dec 2, 2013 at 7:57 AM, Stefan Penner notifications@github.comwrote:

##

Text by me above is hereby placed in the public domain

  Cheers,
  --MarkM

[2013-12-02 16:06] juandopazo commented on #80
@erights I recently saw something like this:

[code]

[2013-12-02 22:43] anba opened #81 "Missing completion values"
Completion values are missing for the following functions:
- Promise.all Countdown Functions
- Reject Promise Functions (note: `PromiseReject` does not return a completion record)
- Resolve Promise Functions (note: `PromiseResolve` does not return a completion record)

[2013-12-02 22:46] domenic commented on #81
Nice find. Isn't there some implicit `undefined` completion value escape hatch, though?

[2013-12-02 22:48] anba opened #82 "ExecutePromiseReaction assumes all Callables have a [[Realm]] internal slot"
It is not required for Callable objects to have a [[Realm]] internal slot, so the access to [[Realm]] in ExecutePromiseReaction, step 3 should be guarded with an if-condition. Also see GetPrototypeFromConstructor for a similar guard.

[2013-12-02 22:49] domenic commented on #82
Oh man, I totally thought it was required. More evidence for the thenable coercion map being more trouble than it's worth (#79).

Thanks so much for finding these types of things; much appreciated to have this kind of close inspection.

[2013-12-02 22:58] anba opened #83 "Reentrancy issues in Deferred Construction Functions"
GetDeferred() possibly needs to copy the Deferred record to protected against reentrancy issues in Deferred Construction Functions. For example in the following test case RejectIfAbrupt assumes deferred.[[Reject]] is a Callable object, but instead it is `null`.

[code]

[2013-12-02 23:00] domenic commented on #83
Oh wow, nice find! Evil!!!

[2013-12-02 23:01] anba commented on #81
The only shorthand currently defined is just the plain `Return` without any value (cf. 6.2.2.2).

[2013-12-02 23:07] anba commented on #82
It's not really close inspection, but rather a picky Java compiler. :-p

[2013-12-02 23:31] stefanpenner commented on #82
@anba you just ruined the mystery, i can't look at your username the same anymore.

[2013-12-05 04:02] marcoscaceres opened #84 "[guide] Rejections Should Be Errors should cater for DOMException"
The advice given in the error section is a bit problematic, as DOM recommends using `DOMException`s, which are not instances of ES Error :( I agree that we should Error instead, but there is a lot precedence for using `DOMException` on the platform.

[2013-12-05 04:05] marcoscaceres commented on #84
updated issue title.

[2013-12-05 04:14] marcoscaceres opened #85 "[Guide] creating a promise and continue to run steps async"
Usually, when we write async stuff in specs we do something like this:

In the examples given in the spec writing guide, step 2 is omitted. Is this on purpose? Or is doing something like 2. wrong and specs should be written differently?

[2013-12-05 04:16] erights commented on #84
@marcoscaceres  Where is this advice?

[2013-12-05 04:17] domenic commented on #84
Actually DOMException is instanceof Error; it's DOMError that's the problem. But yes, we should specifically tell people not to use DOMError, and instead to use DOMException.

[2013-12-05 04:22] domenic commented on #85
I have always found that phrase confusing and bizarre, and would hope it could be replaced with something either implicit (like in the examples I give, e.g. "in _x_ seconds, resolve _p_ with _bar_"), or more like:
1. Let `p` be a newly-created promise.
2. Queue a microtask to perform the following:
   1. If the foopy is not bary enough, then reject `p` with a new `Error` indicating the lack of bar

[2013-12-05 04:22] marcoscaceres commented on #84
@erights it's not quite explicit in the spec, but basically: http://dom.spec.whatwg.org/#errors

@domenic see: http://dom.spec.whatwg.org/#domexception ... it does not extend Error.

[2013-12-05 04:23] domenic commented on #84
Oh poop. Well, in that case, neither DOMError nor DOMException is currently suitable for use with promises.

[2013-12-05 04:23] domenic commented on #84
/cc @annevk @sicking

[2013-12-05 04:26] marcoscaceres commented on #84
The test:

[code]

Chrome: true
Firefox: false
Safari: true

[2013-12-05 04:53] marcoscaceres commented on #85
The problem is that we don' have "microtasks" defined anywhere in the platform yet. In the mind of the spec writer, they are just following the assumed execution flow of ES.

If you want a real example, I'm just in the middle of rewriting the following using your guide:
http://manifest.sysapps.org/#dfn-steps-to-request-to-add-bookmark

(note that the url argument has been dropped in my rewrite, bu

[2013-12-05 05:11] marcoscaceres commented on #85
Probably a bit early to use the example I gave, actually. It needs a big rewrite.

[2013-12-05 05:15] domenic commented on #85
But how does this make sense? In ES, you can't perform any steps at all after you return. That's why it's so confusing.

[2013-12-05 05:33] marcoscaceres commented on #85
Right, the unspoken assumption is that spec text is running in the WebIDL limbo... the ghastly place between ES and native code and where the dammed await judgement :)

[2013-12-05 07:10] marcoscaceres commented on #85
How about:

The steps to request to add a bookmark are given by the following algorithm. The algorithm returns a promise.

<ol><li>Let <var>promise</var> be a newly-created promise.</li> <li>[Queue a task](http://www.whatwg.org/specs/web-apps/current-work/#task-queue) to perform the following:<ol>
        <li>If this method was not invoked as a result of explicit user action, then:<ol>
        <li

[2013-12-05 07:24] domenic commented on #85
That looks lovely. Minor points:
- as discussed, DOMException should not be used with promises. (Or it has to be fixed before promise-based APIs are deployed. Stack trace-less "exception"s suck!) best thing to do for now might be to use Error and file an issue to switch once DOM gets fixed.
- you probably want to return after you reject instead of continuing onward in the algorithm.
- I don't real

[2013-12-05 08:49] marcoscaceres commented on #85
I know you are right in that I should do that - but I don't want to do the work twice. I'll add a big red note in my spec and link to the [bug noting that DOMException has to extend ES Error](https://www.w3.org/Bugs/Public/show_bug.cgi?id=24000) **has** to be fixed before the spec can be implemented. The spec is a long way away from being implementable - so right now it's just for show and tell.

[2013-12-06 01:19] domenic opened #86 "Explain use of `Promise.cast`"
In IRC, @jden expressed confusion about `Promise.cast` vs. `Promise.resolve`. I clarified that it serves two purposes:
- A memory-efficient way of getting a promise, when you have something that could either be a promise or a value. `Promise.resolve` will have the same effect but will create a new promise wrapper if the argument is a promise.
- A way of casting incoming thenables or promise subcla

[2013-12-06 02:10] domenic commented on #85
Seems perfect :)

No, you misunderstood me. Think of how you would implement the above algorithm in JS. It would _not_ be:

[code]

Instead you would just do:

[code]

There is no need to artificially queue a task.

[2013-12-06 02:28] marcoscaceres commented on #85
Ok, got ya! I had a feeling that's what you meant. I was not sure about it being in the next tick or not. I think the above is something important to put into the guide. We've gotten really used to waiting for the next tick (unnecessarily) with "queue at task" and I think people are going to continue to fall into that trap with promises (given that they are kinda new and not well understood).

[2013-12-06 02:29] domenic commented on #85
Awesome, will be sure to do so!

[2013-12-06 19:48] domenic commented on #79
I think it would be best to scrap it for now as it is not coherent; having it in the spec is misleading to implementers. But I have an idea for a replacement that may fulfill all its use cases and just be better.

What was the purpose of the thenable conversion weak map? It had a few facets:
1. Promises should never change their fulfillment value, i.e. if you do `promise.then(f1)` and in some othe

[2013-12-07 21:52] #81 closed, assigned to nobody

[2013-12-07 21:52] #82 closed, assigned to nobody

[2013-12-07 22:04] domenic commented on #86
Actually, I don't think we can sum this up accurately and briefly enough to include in the spec text. You end up either sacrificing accuracy, as the above text does, or needing to explain things about how you'd freeze the given constructor ahead of time, etc. etc., if you want to be 100% accurate.

For example, the above "`then` is ensured to have the behavior of the constructor you are calling `c

[2013-12-07 22:04] #86 closed, assigned to nobody

[2013-12-08 07:19] #67 closed, assigned to domenic

[2013-12-08 07:56] #84 closed, assigned to nobody

[2013-12-08 07:56] #85 closed, assigned to nobody

[2013-12-08 08:00] domenic commented on #85
@marcoscaceres I added some guidance under [Maintain a Normal Control Flow](https://github.com/domenic/promises-unwrapping/blob/master/docs/writing-specifications-with-promises.md#maintain-a-normal-control-flow) and [Do Not Queue Needless Tasks](https://github.com/domenic/promises-unwrapping/blob/master/docs/writing-specifications-with-promises.md#do-not-queue-needless-tasks). I also created [an u

[2013-12-08 17:16] erights commented on #79
@domenic
If the only disadvantage is

and assuming you mean only non-promise thenables, then I think it is fine. In fact, I had not thought of that case before. (Apologies if it has been discussed and I missed it.) For this case, I find the new behavior you describe as less surprising. I was only ever concerned about stable behavior of promises.

[2013-12-09 01:48] #83 closed, assigned to nobody

[2013-12-09 16:10] annevk commented on #84
DOMException has problems, this is not one of them. DOMError is planned for removal.

[2013-12-09 17:55] marcoscaceres commented on #84
Yeah, turned out that WebIDL defines what the prototype is. It's still very messy the way it's defined and Anne filed a bug for this long ago. Sorry for the wild goose chase.

[2013-12-22 06:34] sicking commented on #79
I don't understand this bug. Why can't we trust that a thenable is correctly implemented? It seems to me that we're making a much bigger leap in assuming that any object with a callable .then property is a thenable. I understand why we are making this big leap, and I've been convinced that it's a necessity. But if we're making that big leap, why can't we also take the small step of assuming that t

[2013-12-22 07:13] domenic commented on #79
@sicking Promises come with certain guarantees, e.g. that when you do `p.then(onFulfilled, onRejected)`, then `onFulfilled` will only ever be called once; or that if you call `p.then(f1)` and then `p.then(f2)` in five seconds, `f1` and `f2` will receive the same value. Enforcing those guarantees is the point of this bug.

I think this, at least, has been proven false by Bluebird.

If you note the

[2013-12-22 07:42] sicking commented on #79
There is no way that you can create useful guarantees. First off, calling the .then function on something that isn't actually a thenable could cause all sorts of side effects which completely breaks the program. So if you ever get an object passed to a resolve function which has a .then function, but that isn't actually intended to be a thenable, then the program will likely break.

Second, if som

[2013-12-22 07:48] domenic commented on #79
Yes, which is why you don't pass the `onFulfilled` and `onRejected` handlers directly.

The intent is to combine `Promise.cast` with `Object.freeze(Promise.prototype); Object.freeze(Promise)`.

This is not feature creep. Promises have always been intended to provide guarantees, since their earliest appearance in [strawman:concurrency](http://wiki.ecmascript.org/doku.php?id=strawman:concurrency).

[2013-12-22 10:38] sicking commented on #79
If someone has a direct reference to the thenable then you can't prevent them from calling `p.then(fun1, fun2)` directly, at which point you don't have an opportunity to prevent the callbacks from reaching the untrusted code.

You can request that everyone always calls Promise.cast. But keep in mind that this means that that means that you'll have to either mutate the passed in object by freezing

[2013-12-22 10:50] sicking opened #87 "Spec creates strict requirements on subclass constructors"
As the spec is currently defined, it creates some rather strict requirements on any subclass of Promise.

Specifically it requires that any subclass of Promise has a constructor that can be called using

[code]

where `resolve` and `reject` must resolve and reject the returned instance respectively.

This means that I can't create a subclass of Promise which implements a network request and which

[2013-12-22 10:55] sicking commented on #87
This appears to be done in order to make

[code]

return true. I.e. `.then()` is currently attempting to always create an object of the same class as the class it was called on. Wouldn't it be ok for `.then()` to always return a plain `Promise`?

[2013-12-22 16:09] domenic commented on #87
Jonas, I'd encourage you to look at how array subclassing works in ES6. That is the model promise subclassing is based on, and we will not be breaking parity with that model. It would be horrible if .then() returned something of the wrong type; it defeats the point of subclassing if a simple functional transform like .then(JSON.parse) strips away all the subclass capabilities. Similar to .map on a

[2013-12-22 16:21] domenic commented on #87
As an analogy, you would not create an Array subclass ArrayOfNetworkData such that you do `new ArrayOfNetworkData(url)`.

[2013-12-22 16:48] sicking commented on #87
Note that none of ".resolve, .reject, .all, .race," will by default live on subclasses. Neither on the instances of the subclass, nor on the subclass' constructor object.

Of course, the subclass could manually copy any of those functions over to the constructor object. I assume that was your intended use?

In other languages you most definitely would. I'm not as familiar with how subclassing is i

[2013-12-22 16:49] domenic commented on #87
Subclasses inherit methods of the constructor. I am not sure why you would think otherwise?

[2013-12-28 21:09] allenwb opened #88 "Promise constructor: Handing of synchronous of resolver exceptions"
Line 14 of the Promise constructor spec. translates any uncaught exceptions thrown by the resolver function into a rejection of the promise.  The Promise object is then returned normally from the constructor.

Why? It seems that the most likely situation is that such exceptions indicate a synchronous problem in initiating the deferred action rather than a problem within the deferred action (repres

[2013-12-28 21:18] kriskowal commented on #88
In my experience, it is normal to consolidate the synchronous into asynchronous error handling code. In any function that returns a promise, I will frequently begin all actual work in a handler to ensure that all errors subsumed by the promise. In my opinion, the ability to implicitly subsume errors is the primary advantage of the `Promise` constructor over the `Q.defer()` style interface.

[2013-12-28 21:35] domenic commented on #88
Agreed. More when I'm back at a computer, but this makes several patterns much easier, e.g. as in https://gist.github.com/domenic/7706162. It's pretty well-tested by now and works great in practice.

[2013-12-28 22:29] allenwb commented on #88
OK, I'll accept that unifying handler of sync and async errors is convenient (with the caveat that it increases the chance of other errors (a missing then)  resulting in silently eating some originally synchronous exceptions).

[2013-12-28 22:38] domenic commented on #88
People keep saying silently eating them... In my mind, a web console which doesn't surface unhandled rejections should be considered just as incomplete as one that doesn't surface unhandled exceptions, and just as unlikely to ship.

[2013-12-28 23:37] allenwb commented on #88
How would a console discover unhandled rejections? the rejection and its associated exception are just state captured in a Promise object and if that object gets GC'ed nobody including a console is likely to have any visibility of it. In terms of mechanism this is very different from what happens with an unhandled exception.